[2018-05-03 02:48] IdoBar opened #379 ""ProjectTemplate" Tip is confusing and unneccessary for novice R learners"
Though it's been discussed previously in a few issues and pull requests (#154, #3, #15), I would like to ask again for the `ProjectTemplate` "Tip" to be completely removed from this lesson because, as mentioned before me, it causes confusion to novice R learners and raises questions like "Why do we need `bin` and `docs` folders?" and "What do I do now with all this complex folder structure?".
All

[2018-05-03 19:55] jcoliver commented on #379
Thanks, @IdoBar , this is a great point. In my experience as an instructor, I have always skipped this part, as I found it distracting. The creation of `data` and `output` folders can be challenging enough for some of the participants.

The question, though, is should we actually remove this part of the lesson? The current Instructor Training process empowers workshop instructors to adapt material

[2018-05-04 06:52] mawds commented on #379
I agree that it feels like it's in the wrong place.

+1 to moving it to the end of the episode, (or to the "writing better software" episode?)

[2018-05-04 20:49] naupaka commented on #379
I also am +1 for moving it elsewhere. Agreed that it's too much too soon for an intro lesson.

[2018-05-14 01:45] IdoBar commented on #379
@jcoliver Yes, will do it shortly.
Thanks, Ido

[2018-05-14 06:33] mawds commented on #379
That's great - thanks for the pull requests.  I've merged them into the lesson.
(the changes won't be visible on the rendered pages until they're next rebuilt)

[2018-05-14 06:33] #379 closed

[2018-05-16 16:48] mzc9 commented on #368
Hi,

Newb here.  If no one is working on this, may I take a stab at it?

[2018-05-16 20:43] jcoliver commented on #368
Yes, @mzc9 ! Please do!

[2018-05-17 22:17] BeccaBMaster commented on #378
Would it be valuable to split this lesson into two?  One lesson which covers what functions are, how they work, and breaks down things like default values and optional values then a separate/follow up lesson which covers how to start with writing functions including debugging?  The introduction covers mathematical functions; that may be a good spot to bridge to more complicated (multiple argument)

[2018-05-17 22:23] damianiji opened #383 "human.age (Exploring Data Frames - Challenge 1)"
Hi, Folks! New instructor trainee Damian Romero here.

While practicing teaching the Exploring Data Frames part, I ran into the `human.age` variable in Challenge 1, which I think might be confusing for new learners that might think `.age` is a function since its next to `as.factor`. What do you think about sticking with an underscore as in `human_age`?
Cheers from Arizona!

[2018-05-21 17:48] mzc9 commented on #368
Hi,
I created a PR, but notice that /.Rhistory is also included.  Should I remove that?

[2018-05-25 14:57] p1981thompson opened #386 "adding more information on "seeking help""
I wonder if the section "seeking help" could be improved for beginners by including that ?? can be refined including "title", "keywords, "alias", or "concept", i.e. title??plot. Often we have an idea of the function or even partially remember some of the name, but cannot remember the complete name, so "title" would refine the list of results substantially and make it easier for beginners.
---

Tha

[2018-05-27 17:44] naupaka commented on #386
That sounds useful! I didn't know about that trick. I'd be happy to review a PR adding that into the seeking help lesson.

[2018-05-27 17:47] naupaka commented on #383
Yes, I agree! And that way it also follows our general preference for snake_case. I'd be happy to review a PR making that change.

[2018-05-27 21:24] mzc9 opened #392 ".gitignore does not have ignore for .Rhistory"
or anything pertaining to R.  Appears it is mostly python related.

Should I create a PR and add it?

[2018-06-01 14:21] naupaka commented on #392
Yep, good idea.

[2018-06-01 14:22] naupaka commented on #392
I think the issue might be that it is actually pulled in from the styles repository, which is constant across all lessons. Is that true @rgaiacs ?

[2018-06-01 15:35] rgaiacs commented on #392
Could you send a pull request to https://github.com/swcarpentry/styles/blob/gh-pages/.gitignore. Thanks in advance.

[2018-06-01 17:56] mzc9 commented on #392
Getting a 403 when I try to send a PR

[2018-06-01 17:58] mzc9 commented on #392
Don't have permission.  Getting a 403.

Followed the same procedure as before for creating a PR.  Should I have
done something different?

On Fri, Jun 1, 2018 at 11:35 AM, Raniere Silva <notifications@github.com>
wrote:

[2018-06-01 18:36] naupaka commented on #392
How did you do it last time/this time?

[2018-06-01 18:55] mzc9 commented on #392
- cloned repo on local computer
In the terminal,
  - created a branch
 - checked out branch
Made the change via a text editor
Back in the terminal
 - git add
 - git commit -m "msg of Issue #"
- git push  --> required my github ID and password
Voila

[2018-06-01 19:01] naupaka commented on #392
Did you fork before cloning?

[2018-06-01 19:27] naupaka commented on #392
The gitignore change is in a different repository -- it's in the styles repository https://github.com/swcarpentry/styles, which has the styles for all of the lessons.

[2018-06-01 19:49] mzc9 commented on #392
Ah!  Got it!
Thank you.

[2018-06-03 22:02] naupaka commented on #392
Added here: https://github.com/swcarpentry/styles/pull/286

Thanks @mzc9!

[2018-06-03 22:02] #392 closed

[2018-06-11 20:43] fmichonneau opened #394 "Transition to standardized GitHub labels"
The lesson infrastructure committee unanimously [approved](https://github.com/carpentries/lesson-infrastructure/blob/master/2018-05-23-minutes.md#github-labels-to-use-across-our-lessons) the proposal of using the same [set of labels](https://docs.carpentries.org/topic_folders/maintainers/github_labels.html) across all our repositories during its last meeting on May 23rd, 2018.

This repository has

[2018-06-19 19:38] ahulsekemp opened #397 "Adding explanation"
Hi new train the trainer attendee and have run into the following:

nrow(cats) is used to investigate cats, it would follow that you could use the same command to investigate the other variable age. In this case you'll get a NULL answer as it does not work on the age vector. It may be helpful to add this and an explanation for the student to explain why this is the case.

Cheers!

[2018-06-29 15:03] maglet opened #399 "Gapminder 5-year data missing"
I tried to load the gapminder data from the URL in the tutorial (https://swcarpentry.github.io/r-novice-gapminder/data/gapminder-FiveYearData.csv) and i got an error saying the file was not found.

Looking in the data folder in the repo, it appears that only the wide data table is there.  Can someone add the long data back?

- Tobin

[2018-06-29 23:16] jcoliver commented on #399
Thanks, Tobin @maglet ! Working on it #400 . In the meantime, you can get the gapminder data from: https://raw.githubusercontent.com/resbaz/r-novice-gapminder-files/master/data/gapminder-FiveYearData.csv

[2018-06-30 22:52] cengel opened #401 "introduction of `ggsave` command missing?"
In http://swcarpentry.github.io/swc-releases/2016.06/r-novice-gapminder/11-writing-data/, the following reference is made at the beginning the episode:

I don't seem to be able to find where else `ggsave` is explained before this episode. Two options:

* reword this section and introduce `ggsave` in the "Writing Data" episode
* add mention of `ggsave` at the end of the "Creating Publication-Qualit

[2018-07-01 19:28] rociotmartinez opened #402 "Inside 'Estructuras de datos' I think we should add 'understand coercion' as an Objective 'Conocer y entender qué es coerción y cuáles son los distintos tipos de coerciones'"
Please delete the text below before submitting your contribution.

---

Thanks for contributing! If this contribution is for instructor training, please send an email to checkout@carpentries.org with a link to this contribution so we can record your progress. You’ve completed your contribution step for instructor checkout just by submitting this contribution.

Please keep in mind that lesson maint

[2018-07-02 02:30] naupaka commented on #401
Good catch! I think it would be better to add in at the end of episode 8 (the ggplot chapter). That keeps the primary focus on writing data in episode 11. PR definitely welcome.

[2018-07-04 07:44] mariakotouza opened #404 "[Data Structures] Use the “sep” parameter of the read.csv() function"
At the beginning of the episode "Data Structures" you teach how to read tabular files:

The read.csv() function can be used to read any kind of tabular files and not only comma separated files, by setting the “sep” parameter equal to the delimiter of the file. I find it very useful to use only the read.csv() function for reading this kind of data instead of trying to remember a different function

[2018-07-05 16:13] #399 closed

[2018-07-05 17:15] rgaiacs opened #405 "Use of swc-releases"
All the links from http://swcarpentry.github.io/r-novice-gapminder/ are pointing users to content in http://swcarpentry.github.io/swc-releases/2016.06/r-novice-gapminder/ instead of http://swcarpentry.github.io/r-novice-gapminder/.

[2018-07-06 18:00] raynamharris commented on #350
To bring this issue back up, I'm inclined to agree with @davebridges.

This section where `typeof()` is explored is quite long code-wise. There are 5 examples using `typeof()` but then the types of aren't explained in detail. (I had to google `double`.)

[code]

I feel like  the question "why doesn't `cats$weight + cats$coat` work" could be best answered with and example the provide further explor

[2018-07-06 21:44] nairps opened #406 "access problems with url"
The url for 'base plotting system' (https://www.statmethods.net/graphs/) from the subsection 'Creating Publication-Quality Graphics' (https://swcarpentry.github.io/swc-releases/2016.06/r-novice-gapminder/08-plot-ggplot2/) is not accessible.

working url: https://www.statmethods.net/graphs/index.html

[2018-07-07 00:11] raynamharris commented on #405
I noticed this too! While it makes navigating a little harder, does this mean you can access any version of the lessons?

[2018-07-07 00:14] raynamharris commented on #369
Alternatively, a short disclaimer could be added at the top and the reader could be prompted to load the cats data quickly with:

[code]

[2018-07-07 00:18] raynamharris commented on #329
@jcoliver How would you instruct the user to get the data from <http://tinyurl.com/gapminder-five-year-csv> into R? Copy, paste, save, read? Or with something like:

[code]

[2018-07-07 01:06] jcoliver commented on #329
@raynamharris I'll usually have folks download the file by entering the URL into a browser window (and doing "Save as..." if not automatically prompted to save the file), but

    download.file(url = "http://tinyurl.com/gapminder-five-year-csv", destfile = "data/gapminder-FiveYearData.csv")
    gapminder <- read.csv(file = "data/gapminder-FiveYearData.csv")

should work, too.

[2018-07-08 12:15] mkuzak opened #407 "data file gapminder-FiveYearData.csv missing"
'gapminder-FiveYearData.csv' is reference in the lesson (version 2016.06) but is not available in the lesson.
I have found a relevant dataset [here](https://github.com/resbaz/r-novice-gapminder-files/blob/master/data/gapminder-FiveYearData.csv). I can make a pull request fixing this, but I don't know how to get it to the release version.

[2018-07-09 18:20] jcoliver commented on #407
Thanks @mkuzak This was also brought up in #399 and ideally resolved in #400 , once that gets pushed to production.

[2018-07-09 18:39] mkuzak commented on #407
thank you, I missed that.

[2018-07-09 18:39] #407 closed

[2018-07-11 20:03] jcoliver commented on #404
Thanks @mariakotouza ! This is a good point about the flexibility of `read.csv`. I'm not sure we need to introduce a discussion of this functionality at this point in the lesson, as learners have not had much exposure to function parameters. But it warrants further discussion. Thoughts, @mawds and @naupaka ?

[2018-07-11 20:07] jcoliver commented on #405
Thanks @rgaiacs and @raynamharris . This warrants inspection. @naupaka do you know why this is? Is there a resource that explains the releases and infrastructure/syntax?

[2018-07-11 20:08] jcoliver commented on #406
Thanks, @nairps ! Want to submit a PR with the fix?

[2018-07-11 20:18] naupaka commented on #404
My personal opinion is that even though you can override the defaults of `read.csv()`, which is itself just `read.table()` with different defaults, it makes the code a little more readable/intuitive to not have `read.csv()` read in `tsv` files.

[2018-07-11 20:21] naupaka commented on #405
I am surprised it doesn't go to a more recent lesson release (I think they did one in 2018.06)? That is probably a bug.

However, my recollection is that the pointer to the release version instead of the plain GitHub version is intentional, which helps mitigate the fact that we don't use a development branch. People felt that it was hard to have the lessons changing at any time, sometimes even wit

[2018-07-11 21:57] rgaiacs commented on #405
But this is the only lesson with this behaviour.

[2018-07-12 00:37] nick-ulle commented on #342
Has this issue been resolved already? Grepping around the repository, I couldn't find any episodes with keyboard shortcuts missing `<kbd>` tags.

[2018-07-12 23:41] jcoliver commented on #342
Thanks, @nick-ulle. With one exception, it looks like it (There's an "Esc" in episode 1 that's missing the <kdb> tags).

[2018-07-13 12:04] mawds commented on #401
I'll close this, since it was fixed in #403

[2018-07-13 12:04] #401 closed

[2018-07-16 02:12] naupaka commented on #406
Fixed by #409

[2018-07-16 02:12] #406 closed

[2018-07-17 13:59] #394 closed

[2018-07-19 20:58] ahadjixenofontos commented on #350
I agree with naupaka that this a learning opportunity. Factors are so central to R that understanding them thoroughly would be beneficial. When typeof(cats$coat) returns "integer" that's a first brush with factor innards, which will be further reinforced later where factors are discussed in more detail.

[2018-07-25 15:06] orchid00 opened #410 "Suggest to change title to dataset"
Hi!

This is a minimal change that makes sense and won't affect the teaching structure.
I suggest to change the name `gapminder-FiveYearData.csv`  to `gapminder-data.csv`
Why?
- For instance there are more than 5 years in the dataset, hence the name is misleading
- Second, having name conventions is good practice for beginners. We can avoid the use of capitalization when not using CamelTitles

Cha

[2018-07-26 22:58] jcoliver commented on #410
Thanks, @orchid00 ! This is a good point. The file name is a bit of a legacy from the previous source. Since we now include this file on this repository, I don't know of a reason to change the name to something simpler (dashes _or_ camel case, but probably not both). Thoughts @naupaka & @mawds ?

[2018-07-28 23:51] naupaka commented on #410
If we are changing the name I suggest changing it to `gapminder_data.csv`. That way it matches the general tidyverse style recommendation for snake case when possible. I agree no reason to keep `FiveYearData` in there.

[2018-07-30 23:05] orchid00 commented on #410
yay, done!

[2018-07-31 14:51] orchid00 commented on #410
Before closing this issue, I suggest all the links referencing the data set should be checked.
particularly
the instructor guide
http://swcarpentry.github.io/swc-releases/2016.06/r-novice-gapminder/guide/

[2018-07-31 20:00] denironyx opened #412 "Tip: Running segments of your code"
The keyboard shortcuts to run the current line for windows is **ctrl** and **Enter** not **ctrl** and **Return** . **ctrl** and **Return** is the keyboard shortcut for Mac computers.

https://datacarpentry.org/r-intro-geospatial/01-rstudio-intro/index.html

Thanks!

[2018-07-31 20:18] denironyx opened #413 "Adding the rm() function to the workshop material"
I think, the knowledge of how to remove object value from variable should be introduce to the workshop materials.

**rm()** or **remove**
remove and rm can be used to remove objects. These can be specified successively as character strings, or in the character vector list , or through a combination of both. All objects thus specified will be removed. If envir is NULL then the currently active envi

[2018-08-03 15:40] jcoliver commented on #410
Good point, @orchid00 . Want to update the PR? The file corresponding to the instructors guide is `_extras/guide.md`.

[2018-08-03 15:42] jcoliver commented on #412
Thanks, @denironyx . Would you submit a PR with this change?

[2018-08-03 15:47] jcoliver commented on #413
Thanks for the suggestions, @denironyx ; this is covered in the first episode under the "Managing Your Environment" section: [http://swcarpentry.github.io/swc-releases/2016.06/r-novice-gapminder/01-rstudio-intro/#managing-your-environment](http://swcarpentry.github.io/swc-releases/2016.06/r-novice-gapminder/01-rstudio-intro/#managing-your-environment).

[2018-08-03 15:47] #413 closed

[2018-08-03 15:47] #412 closed

[2018-08-03 18:42] denironyx opened #414 "Tip: Running segments of your code"
Hi,

I have been working with the Rmarkdown for some time now. While taking a look at the R for reproducible scientific analysis.

I happened to realize that some tips were not included in the course materials http://swcarpentry.github.io/swc-releases/2016.06/r-novice-gapminder/15-knitr-markdown/.

Tips like, to load new code chunk. The keyboard shortcut **Ctrl + Alt + I** for windows OS  and OS X

[2018-08-03 20:54] orchid00 commented on #410
I could do that.
But first my [PR](https://github.com/swcarpentry/r-novice-gapminder/pull/411) seems to be still on waiting list and I rely on this to teach a workshop on Monday-Tuesday.

All next week I will be busy to work on the guide.

[2018-08-05 03:04] orchid00 commented on #410
This is nor for checkout

[2018-08-05 03:05] orchid00 commented on #410
Thanks @jcoliver ,

this is not for checkout

[2018-08-18 03:05] #383 closed

[2018-08-23 05:31] naupaka commented on #410
Thanks @orchid00 !!!

[2018-08-23 05:32] naupaka commented on #410
See also #411

[2018-08-23 05:32] naupaka commented on #410
Closed by #416 and #411

[2018-08-23 05:32] #410 closed

[2018-08-28 13:57] unode opened #419 "Add numbering to episodes"
This is a minor improvement but useful when referring to different episodes of the same lesson.

Most other lessons now make use of numbered episodes. For instance in [UNIX Shell](http://swcarpentry.github.io/shell-novice/) the number preceeds the episode name.

Could this be added to this lesson? Both for usability and consistency with other lessons.

[2018-08-28 16:17] jcoliver commented on #419
Thanks for the suggestion, @unode . Do you mean the episodes should be numbered in the schedule? The corresponding episode files are all prefixed with such a number, although this does not show up in the schedule on the lesson home page.

[2018-08-28 16:32] unode commented on #419
### Yes, precisely.

#### In http://swcarpentry.github.io/shell-novice/ one sees:
![screenshot_2018-08-28_18-21-52_495485511](https://user-images.githubusercontent.com/122319/44736352-49640f00-aaef-11e8-8034-ae350d07020e.png)

#### Whereas in http://swcarpentry.github.io/r-novice-gapminder/ we have:
![screenshot_2018-08-28_18-21-41_128187155](https://user-images.githubusercontent.com/122319/447363

[2018-08-29 02:07] budell opened #420 "Clarify that "invalid factor level: NA generated" is a warning and not an error, and that rbind () is still executed"
---
Hi I am a new Instructor trainee and I have been working in the "Working with data frames lesson" (lesson 5). The lesson has the participant use rbind to merge a new row to a dataframe, however, the input for coat variable is not one of the factor levels, which throws a warning and generates an NA value:

newRow <- list("tortoiseshell", 3.3, TRUE, 9)
cats <- rbind(cats, newRow)

Warning in `[<

[2018-08-29 02:44] budell opened #421 "Wrong data file name in path when downloading gapminder data: working with data frames"
---
In lesson 5: Working with Data Frames, there is a miscellaneous tip on how to download the gapminder data directly from a web address, followed by this code with throws a 404 not found error:
gapminder <- read.csv("https://swcarpentry.github.io/r-novice-gapminder/data/gapminder-FiveYearData.csv")

The problem is that the data file has been renamed to gapminder_data.csv.  The issue can be fixed

[2018-08-30 00:38] jcoliver commented on #421
Thanks, @budell . This is part of a recent change that is still being reconciled (#417 , #418 ).

[2018-08-30 00:44] jcoliver commented on #420
Thanks @budell and welcome! A good point about skipping over the ramifications of the `rbind` call. The lesson does show that extra row, but this occurs after the description of factors and level. We'd be interested to see what a revised version might look like. Care to submit a PR?

[2018-09-01 21:10] StanleyYang01 opened #423 "to update the path of gapminder/gapminder_wide dataset"
1. In the **Exploring Data Frames** chapter (http://swcarpentry.github.io/swc-releases/2016.06/r-novice-gapminder/05-data-structures-part2/), the web path for downloading gapminder is NOT correct.

Original Path:
gapminder <- read.csv("https://swcarpentry.github.io/r-novice-gapminder/data/gapminder-FiveYearData.csv")

To be updated to:
gapminder <- read.csv("https://swcarpentry.github.io/r-novice-

[2018-09-02 22:43] naupaka commented on #421
Looks like a lot of places need fixed, ASAP:

[code]

[2018-09-02 22:46] naupaka commented on #421
I will fix this now and submit/merge a PR

[2018-09-02 23:34] naupaka commented on #421
Fixed by #424

[2018-09-02 23:35] #421 closed

[2018-09-02 23:36] naupaka commented on #423
Fixed by #424

Sorry for the hassle @StanleyYang01

[2018-09-02 23:36] #423 closed

[2018-09-02 23:47] naupaka opened #425 "Since rendered pages are pointing to 2016.06 release, new filenames in code won't update"
I put the old named files back into the repo (see 6f5dd6f031014a861d28bfe9c0124228387313bc) so that the links will keep working. When the next lesson release happens, then the new links will all work as well, and we can delete the old files (FiveYearData).

cc @jcoliver @orchid00 @fmichonneau

[2018-09-03 08:08] orchid00 commented on #425
Thanks @naupaka , Seems like a good solution.

Just curious, when is the next lesson release?

[2018-09-03 14:59] naupaka commented on #425
I am pretty sure the pages should be pointing to 2017.08 at least. Not sure where the glitch is. Maybe @rgaiacs knows?

[2018-09-04 09:15] rgaiacs commented on #425
I didn't work on the feature to rendering pages point to YYYY.MM release. Sorry that I can't help much.

[2018-09-04 19:55] jcoliver commented on #405
Not fixed by #426 . But we should decide whether we are keeping the current behavior (referencing a specific release) or changing to that of other lessons (references are to whatever is on the `gh-pages` branch on the GitHub repo).

[2018-09-04 22:53] naupaka commented on #425
I think now it's working?

http://swcarpentry.github.io/r-novice-gapminder/05-data-structures-part2/index.html is the new version

[2018-09-04 22:54] naupaka commented on #405
I think it's working now?

Links seem to work, http://swcarpentry.github.io/r-novice-gapminder/05-data-structures-part2/index.html is up-to-date and pointing to gh-pages version.

[2018-09-04 22:55] naupaka commented on #405
I think it probably was that wayward index.html file...

[2018-09-04 23:52] fmichonneau commented on #405
It seems that GitHub hadn't rebuilt the website yet. Please ping me again if it's still broken.

[2018-09-05 12:41] rgaiacs commented on #405
Thanks!!!

[2018-09-05 12:41] #405 closed

[2018-09-09 10:18] rgaiacs opened #427 "Add R Markdown work flow to 01-rstudio-intro"
http://swcarpentry.github.io/r-novice-gapminder/01-rstudio-intro/index.html has

What about add R Markdown work flow? I know that it is a variant of the R script workflow but for beginners might worth mention it.

[2018-09-09 10:23] rgaiacs opened #428 "Mac Command key"
http://swcarpentry.github.io/r-novice-gapminder/01-rstudio-intro/index.html says

[code]

but http://carpentries.github.io/lesson-example/06-style-guide/index.html recommends to say

[code]

The reasons why I decided to use `<kbd>Command</kbd>` instead of `<kbd>⌘</kbd>` are (1) text to speak might better read the word instead of the symbol and (2) type the word doesn't require knowledge of how to

[2018-09-09 10:24] rgaiacs opened #429 "Replace OS X with macOS"
http://swcarpentry.github.io/r-novice-gapminder/01-rstudio-intro/index.html says

but Apple re-branded their OS to macOS, see https://en.wikipedia.org/wiki/MacOS.

[2018-09-09 10:37] rgaiacs opened #430 "Trigonometric functions in radians or degrees"
The "Mathematical Functions" section starts using the `sin()` function. Trigonometric functions are **not** notice friendly because the arguments could be provided in radians or degrees. I recommend to push the `sin()` example to the end of the section after we introduce the help page so that we could use trigonometric functions as one example for the use of `?`.

## Some examples

[code]

## Note

[2018-09-10 14:49] selcant opened #432 "Example improvement suggestion for 04-data-structures-part1"
Hi,
The example in 'Data Structures' under 'Data Types' that uses the file "data/feline-data_v2.csv" is confusing. Since the error is due to the change of the column's class from numeric to factor rather then the change in data type from double to integer. The explanation under the example also highlights the coercion of double to integer rather than numeric to factor. When the file is read, not a

[2018-09-11 19:28] ErinBecker opened #433 "link to wrong version of the data"
Dear friends,
in your document with url

https://swcarpentry.github.io/r-novice-gapminder/02-project-intro/index.html

in sentencec"Download the gapminder data from here." you have bad link to file.
Your link is pointed to wide format of data

https://raw.githubusercontent.com/swcarpentry/r-novice-gapminder/gh-pages/_episodes_rmd/data/gapminder_wide.csv

but you ment long data:

https://raw.github

[2018-09-11 19:37] jcoliver commented on #433
Thanks, @ErinBecker . Should be addressed by #434

[2018-09-11 19:38] ErinBecker commented on #433
Wow! Fast response! Thanks @jcoliver

[2018-09-12 16:37] jcoliver commented on #427
Thanks for the suggestions, @rgaiacs . I worry a little about adding to the cognitive load of our audience at this point. The nuanced difference between point #2 (R scripts) and an R Markdown workflow, which proceeds much the same way (write R code, push the current line, selected lines, modified lines, current block, selected blocks, or modified blocks to the interactive R console) might be unnec

[2018-09-12 16:38] jcoliver commented on #428
Good idea. Is there potential for confusion/conflict with non-English keyboards, though? Is there a way to keep the key name and the symbol?

[2018-09-12 16:41] jcoliver commented on #429
But would anyone who has a pre-Sierra Mac be confused by this? Is OS X El Capitan now called macOS El Capitan?

[2018-09-12 16:46] jcoliver commented on #430
I think the `sin()` function is nice because we can pretty much rely on all audience members to have experience with trig functions outside of R. More so than logarithms and exponents, IMHO. But maybe we could use `sin()` as an example in episode 03 Seeking Help?

[2018-09-12 20:12] naupaka commented on #433
Good catch

[2018-09-12 21:01] #433 closed

[2018-09-13 14:02] rgaiacs opened #435 ""~/Desktop" for setwd() isn't the OS standard Desktop in Windows"
As mentioned in https://carpentries.topicbox.com/groups/discuss/Tdeb023c3d8873d39-M4f43fa22d3ee362bf2d9fca9/r-setwd-desktop-in-windows and confirmed by Ashwin Srinath and Pariksheet Nanda, the use of

[code]

in Windows, can send users to one folder that isn't one Desktop folder that isn't the same as the one they normally see.

We should add a note to this on the Instructors Note or a call out bo

[2018-09-13 14:49] psolymos commented on #435
This is related to how R defines home folder after tilde expansion. On Windows it is `C://Users//Foo//Documents//` instead of ``C://Users//Foo//`. You can put something like this in `etc/Rprofile.site`:

[code]

although this has a side effect when calling R from a directory, or using an R project in Rstudio -- you'll still end up in `C://Users//Foo//`.

[2018-09-21 04:40] anuj2054 commented on #331
Is there anything left in this issue ?

[2018-09-21 15:14] naupaka commented on #331
Yes, this still needs fixed - I just checked.

[2018-09-26 18:40] pandeyravi15 opened #436 "adding rows"
Can not we use rbind function as cbind , like newRow <- c("tortoiseshell", 3.3, TRUE, 9) instead of list

---

Thanks for contributing! If this contribution is for instructor training, please send an email to checkout@carpentries.org with a link to this contribution so we can record your progress. You’ve completed your contribution step for instructor checkout just by submitting this contribution.

[2018-09-26 18:41] zyqfrog10 commented on #397
Good idea. nrow() is a function operating on a data frame while age is a vector. That's why you use length() to check the size of age.

[2018-09-26 18:54] zyqfrog10 commented on #436
Yes. You can use vector instead of list. The following code will add a new row as in the instruction.
[code]

[2018-09-26 21:32] jcoliver commented on #436
Thanks @pandeyravi15 and @zyqfrog10 . Using a vector to add a new row to a data frame will not work as intended. This is because all elements of a vector must be of the same type. When the vector `newRow` is declared, it coerces every element to be of type `character` (this occurs without any messaging). Additionally, when that vector is added to the data frame via `rbind`, all columns in the data

[2018-09-26 21:32] #436 closed

[2018-10-11 16:08] Khojanator opened #439 "Exploring Data Frames - Challenge 1"
Hey, this is Ahsan Ali Khoja from Oct 10/11 EST trainee workshop.

Question 1 in challenge 1 seems a little ambiguous. What is the vector human_age representing? Is the question referring to human age in cat years? Shouldn't we divide by 7 instead of multiplying by 7? (of course, it depends on how you define this vector). I've posted the link below:

https://github.com/swcarpentry/r-novice-gapmind

[2018-10-11 18:06] jcoliver commented on #439
Good point, @Khojanator . Perhaps this challenge would be improved by restating the first line:

[2018-10-11 19:09] Khojanator commented on #439
That should solve the problem! I'll go ahead and suggest this change.

[2018-10-11 21:53] #439 closed

[2018-10-16 08:42] markdunning opened #442 "Use read_... functions rather than read.csv, read.table etc"
Hi,

It seems like read_csv, read_tsv et al are the tidyverse way of importing data frames, but in some of the lessons (ggplot2, dplyr in particular) read.csv is used. Perhaps time to switch to using `read_csv`?

[2018-10-17 10:36] mawds commented on #442
Good comment; potentially this is quite a big change, if we move over to "pure" tidyverse throughout.  @naupaka @jcoliver ; what are your thoughts?

FWIW I think we should at some point end up switching to a pure tidyverse approach, as it becomes more widely used.   Whether that is now or not I'm less sure.  Presumably a change of that size is something the curriculum advisory committee would want

[2018-10-17 14:36] naupaka commented on #442
I agree this is a question for the advisory committee. Personally I would be inclined to switch all to base R's `read.csv()` for these lessons, as I am not sure the benefit to the specific things we are covering. Not because the tidyverse isn't great, but advocating for dependencies right off the bat makes me a little nervous.

[2018-10-17 20:21] DiogoVeiga opened #445 "Introduce summary() to inspect gapminder dataset in lesson 05-data-structures-part2"
Currently the lesson uses `str()`  to inspect the structure of data frames. Another quite useful function is `summary()`, which permits one to understand both structure and data contents of a given data frame. Moreover, `summary()` is a generic implemented by several classes in R (i.e. linear models).

For instance, `summary(gapminder)` describes the number of measurements per country and continen

[2018-10-31 14:39] maurolepore commented on #365
@philippbayer that sounds like a great plan!

RE:

Have you thought of using the point-and-click interface for now?

![image](https://user-images.githubusercontent.com/5856545/47795592-304b2a80-dcf9-11e8-9d38-a35da6256f3b.png)

[2018-11-01 02:16] philippbayer commented on #365
@maurolepore Thanks for the tip, I never used that button - that will reduce some of the cognitive load!

[2018-11-13 20:31] carmelwoods commented on #427
@rgaiacs I had the same thought when I was preparing to teach this lesson. But now that I've taught it a couple of times, I can see how it's better to delay the introduction of R Markdown to the later section [Producing reports with knitr](http://swcarpentry.github.io/r-novice-gapminder/15-knitr-markdown/index.html). I think one or two new concepts at a time is all people can handle.

[2018-11-13 21:01] carmelwoods commented on #432
@selcant  I agree that section is confusing, so when I taught it I replaced it with the following, but I like your idea too.
`cats$age <- c(2,5, 'unknown')`
`typeof(cats$age)`
`cats$age + 2 `

[2018-11-16 04:47] philippbayer commented on #365
I've made some changes in my fork, maybe someone else can use this:

Intro to basic R (basic maths, exp(), comparisons) - 20 min
https://github.com/philippbayer/r-novice-gapminder/blob/gh-pages/_episodes/01-rstudio-intro.md

Rstudio  - 10 min
https://github.com/philippbayer/r-novice-gapminder/blob/gh-pages/_episodes/02-project-intro.md

Finding help - 10 min
https://github.com/philippbayer/r-novic

[2018-11-19 01:48] naupaka commented on #365
@philippbayer thanks for adding this here! You may also want to contribute this order and timings to the `_extras/guide.md` as a PR.

Relatedly, I think it is time to have a serious reconsideration of the order and flow of the lessons to catch them up to modern best practices. @jcoliver @mawds maybe for the next semi-annual release? Potentially should have the tidyverse vs base R discussion in cur

[2018-11-19 05:17] #420 closed

[2018-11-19 05:18] philippbayer commented on #365
I'm in favor of switching to tidyverse - if you look at my lesson for [04-data-structures-part1.md]( https://github.com/philippbayer/r-novice-gapminder/blob/gh-pages/_episodes/04-data-structures-part1.md), I changed the data-frames to tibbles and removed matrices etc., which allowed me to mostly delete stuff that was just annoying to discuss (for example, I could delete all references to stringsAs

[2018-11-19 08:12] naupaka commented on #445
Thanks! No rush. Happy to help out if you get stuck or have questions.

[2018-11-23 10:05] mawds commented on #365
@naupaka - I agree.   Probably also worth speaking with the curriculum committee about how this lesson fits with the other R lesson (http://swcarpentry.github.io/r-novice-inflammation)?

As the focus of the other lesson is more "regular" programming  and this is more data-analysis then I think having this lesson tidyverse focussed and that base R focussed makes a lot of sense.

[2018-11-23 10:16] mawds commented on #427
I agree with @carmelwoods  and @jcoliver - I think it adds too much cognitive load at the start of the course

(especially if users save their notebooks in a subdirectory off the project directory - which the "good enough practices for scientific computing in http://swcarpentry.github.io/r-novice-gapminder/02-project-intro/index.html implies they should. The `.Rmd` file takes its location as its w

[2018-11-26 12:05] mawds commented on #365
See also issue #442

[2018-11-26 23:52] jcoliver commented on #365
I would be interested in seeing a plan for (1) what tidyverse functions are included and (2) where they would end up. I worry a little bit about providing an introduction to R that skips some pretty fundamental things [1]. But having some rearrangement so the amazing tools of dplyr and ggplot are covered earlier makes sense to me.

[1] Recognizing that we don't teach things just because they are "

[2018-12-11 17:38] BarshisLab opened #456 "Suggestion to use alternative data for 08-Creating Publication-Quality Graphics with ggplot2 to avoid plotting genocides"
Hi Folks,
    During a recent workshop I noticed that gapminder dataset used for some of the R lessons had the unfortunate result of plotting life expectancy vs. year by country, highlighting three of the lowest values in Cambodia in 1977 and in Rwanda in 1992 and 1997.

![](http://swcarpentry.github.io/r-novice-gapminder/fig/rmd-08-lifeExp-line-1.png)

I know these are real data and the gapminder

[2018-12-13 18:56] jpiaskowski opened #457 "write.csv wrapper for write.table"
For the section on [writing files](https://swcarpentry.github.io/r-novice-gapminder/11-writing-data/index.html), is it worth mentioning that wrappers exist to simplify options - like write.csv()?

[2018-12-13 19:02] jcoliver commented on #457
Given the brevity of this section, and that we _only_ use a .csv file, perhaps we could switch over to `write.csv` entirely? The `read.table` function mentioned in this episode (11) hasn't been used since episode 4; additionally, the most recent (in episode order) read-in function is actually `read.csv` (episode 5).

[2018-12-13 20:20] jpiaskowski commented on #457
I think there is value in introducing write.table (many users likely work with .txt files), but also indicating that wrappers like write.csv() exist and why someone might want to use that.

[2018-12-21 16:00] ajax-2018 commented on #457
R for Reproducible Scientific Analysis; Section 11: Writing Data

I think that the end of the "Writing Data" subsection (between the line "That looks better!" and challenge 2) would be a good place to mention the existence of wrappers for write.table.

Something as simple as:
"As with the read.table function, write.table has the wrapper write.csv to simplify writing data in CSV format."

Then an a

[2019-01-08 00:28] jpiaskowski opened #458 "':' operator"
':' operator for a sequence operator is first used in section 4, then formally introduced in section 6. Should this be the case or should it be explained in section 4?

[2019-01-08 00:31] jpiaskowski opened #459 "ambiguous wording for while statement tip"
A tip in section 07 on while loops reads:

`You have to be particularly careful that you don’t end up in an infinite loop because your condition is never met.`

Should this read:

`You have to be particularly careful that you don’t end up in an infinite loop because your condition is always met (and hence never terminates).`

?

[2019-01-08 00:40] jcoliver commented on #459
This entire Tip section on `while` loops could use a revision. It is currently a bit challenging from the start. i.e. if a condition evaluates as `TRUE`, does that mean the condition is met or not met? From the pseudocode, it seems if the condition in the `while()` command evaluates as `TRUE`, the condition controlling while loop execution is _not_ met. Using different words (like "statement" in t

[2019-01-08 01:02] jpiaskowski opened #460 "Section 7, Challenge 4 & 5 suggestions"
Challenges 4 & 5 are very difficult because the solutions expect four functions not previously introduced:

with()
subset()
mean()
cat()

The use of 'subset' is particularly confusing since the previous section is titled "Subsetting", yet does not introduce subset() at all. Is this intended for advanced users? I am skeptical that true R novices will be able to complete these exercises.

Here is th

[2019-01-08 01:36] jpiaskowski opened #461 "suggested alternative challenge to section 7"
I'm not terribly fond of the challenges in section 7 because that particular challenges can be completed much more efficiently by dplyr functions or aggregate(). This can result in some users viewing for loops and other controls features as not useful or finding earlier parts of the workshop a waste of time. Here is one suggested change that incorporates principles taught in the workshop:

Determi

[2019-01-08 01:44] jpiaskowski commented on #459
Are you asking for clarification from me or from an actual content manager? Since it's an entry-conditioned control statement, whenever a while statement evaluates to TRUE, the condition is met and the expression will be evaluated.

[2019-01-08 18:21] jpiaskowski commented on #457
okay, submitted....I think. I probably need a Software Carpentry lesson on proper use of Git!

[2019-01-08 18:21] #457 closed

[2019-01-08 23:35] jcoliver commented on #458
What do you think, @naupaka & @mawds ? I'm fine leaving a formal explanation for section 6...

[2019-01-08 23:43] jcoliver commented on #461
Thanks for these suggestions, @jpiaskowski . This is related to a larger issue involving tidyverse packages (see #365 and #442 ). I think it's fair to say that much of what we introduce in the first few episodes can be done more efficiently by other packages, especially when dealing with `if` conditionals and `for` loops. Are there specific challenges that you think need to be revised to better re

[2019-01-08 23:46] jcoliver opened #464 "Fix formatting in episode 06, challenge 7"
Challenge 7 is not formatted properly (see challenge 6 for correct formatting).

[2019-01-08 23:49] jcoliver commented on #460
Great points, @jpiaskowski . Updating challenges 4 & 5 with solutions that do not involve `subset` and `with` sounds like a good idea.

[2019-01-09 01:31] naupaka commented on #458
I think it's probably a simple enough thing that the explanation can wait a few sections. I also imagine many instructors explain it a bit in their own words when they first show it.

[2019-01-09 08:01] mawds commented on #458
I think it's fine as it is.  I tend to demo it with a couple of examples when I first introduce it.  Most learners seem to get the idea of it pretty quickly.

As we're in agreement I'l close the issue.

[2019-01-09 08:01] #458 closed

[2019-01-11 18:56] #459 closed

[2019-01-11 18:58] jpiaskowski commented on #460
okay, I'll prep another pull request for this.

[2019-01-11 19:09] jpiaskowski commented on #461
I addressed this partially in issue [#460](https://github.com/swcarpentry/r-novice-gapminder/issues/460) . Another exercise could be to create an `if` command for installing and loading packages on systems when it is not known if the package is installed or not. This is a common usage of `if()` not supplanted by dplyr. The commands `while`, `repeat`, etc are trickier for the new student. I mocked

[2019-01-17 17:33] minisciencegirl opened #465 "Link to Introduction to dplyr needs to be updated"
The link to Introduction to dplyr (line 391) should be updated to https://dplyr.tidyverse.org/

[2019-01-17 17:43] jcoliver commented on #465
Thanks, @minisciencegirl . Want to submit a pull request?

[2019-01-18 08:10] #465 closed

[2019-02-04 15:33] andzajan commented on #464
Addressed here: https://github.com/swcarpentry/r-novice-gapminder/pull/468

[2019-02-04 22:02] #464 closed

[2019-02-05 18:44] cbeleites commented on #430
I guess it will depend on the audience whether they work more with trigonometric functions or logarithms. I'd expect biologists to be familiar with exponential growth. Also chemists "meet" logarithms quite regularly, but we hide them (pH = - log_10 c_H⁺, after that, we just use pH.). Nevertheless, trigonometric functions seem to cause less of an "ouch" with many people.

- It is true that the trig

[2019-02-06 11:55] ka-west opened #470 "Clarification of difference between count() and n() in dplyr lesson"
Hi everyone! Happy to be joining the swcarpentry community :)

At a workshop I was teaching recently, there was some confusion about the difference between functions `count()` and `n()`. From the `dplyr` lesson:

*"...if we wanted to check the number of countries included in the dataset for the year 2002, we can use the `count()` function. It takes the name of one or more columns that contain the

[2019-02-07 20:18] jcoliver commented on #470
Thanks, @ka-west . I agree more explanation of `n()` is warranted. I'm not sure that we need to go into details about explicit and implicit use of `group_by()`, but we would welcome a pull request.

[2019-02-12 16:09] ha0ye opened #473 "Specify `mapping` in the ggplot2 episode?"
I like the approach of the data carpentry R ecology lesson where the `mapping` named argument is explicitly specified for ggplot2. This assists with distinguishing the different layers and maybe also with explaining what's occurring under the hood (rather than a "magical" `aes()` function).

[2019-02-14 17:58] mawds commented on #473
It's a good point, and would, I think make it clearer what the "point" of `aes()` is, especially at the start of the episode.  I know I emphasise that `aes()` is a "mapping" when I'm teaching it, and I think this would make it clearer.

[2019-02-17 03:08] naupaka commented on #473
I agree with this too. When people are learnings, it's always helpful to be explicit at first with the naming of arguments.

[2019-02-17 14:31] annakrystalli opened #475 "Simplify start of Data Structures episode"
Hi! 👋

I recently taught some episodes from this lesson and wanted to share some feedback on the start of the [Data Structures](https://swcarpentry.github.io/r-novice-gapminder/04-data-structures-part1/index.html) episode, which I found hard to navigate.

I appreciate and have seen that students want to get stuck in with recognisable data structures asap and therefore want to work with dataframes.

[2019-02-17 23:16] naupaka opened #476 "Begin transition to Travis builds of the repo instead of maintainer to GH Jekyll"
@mawds @jcoliver

We are one of the last holdouts using the old system of rendering the Rmd to md. The new system uses Travis to watch master, render any new commits to md and html and push to gh-pages for hosting. To get ready for that, we'll have to merge or close all existing PRs, which is going to be a bit of a task, but I think we need to do it at some point soon so this repo is on the same p

[2019-02-19 15:12] ka-west commented on #470
@jcoliver just submitted a pull request, hope I did it right!

[2019-02-20 22:20] mawds commented on #476
How do you want to divide them up between us? I took a look at the two oldest PRs and they seem to be so far diverged from the current lesson I think we might have to just close them.  I merged the third oldest, whose conflicts were easier to fix.

What's the timescale for getting them all done?

[2019-02-21 04:23] naupaka commented on #476
Good question. Might be easiest to schedule an hour conference call sometime for the three of us and just work through them in sequence. No particular rush to get them handled, I was thinking perhaps in the next month or two?

[2019-02-22 10:40] #470 closed

[2019-02-22 18:00] mawds commented on #476
Sounds like a plan - I'll email you a few good dates/times

[2019-03-04 18:33] jcoliver opened #479 "Remove feline-data_v2.csv"
Per #471, consider removing all references to the cats version 2 data.

[2019-03-04 18:41] jcoliver opened #480 "Change scale_x_log10 ggplot option to scale_x_continuous in episode 8"
In ggplot episode, per #478, use `scale_x_continuous` with the argument `trans="log10"` instead of the shortcut `scale_x_log10` function.

[2019-03-04 18:43] naupaka commented on #476
@fmichonneau We've closed all the PRs, and I think we're ready to move this to Travis!!

[2019-03-06 18:54] anuj2054 commented on #479
Maybe just adding this code in the section where it asks us to download the file might help.
Or I can go ahead and delete the whole section.

[code]

[2019-03-06 19:02] anuj2054 opened #481 "[Suggestion] Replace the read.csv(data/gapminder.csv) with library(gapminder)"
Since gapminder dataset also exist as R package, it might be easier to ask students to install that package and use the dataset just like we would use an iris dataset.

Students have already had experience creating and reading in CSV files in episode 4 with the cats and feline data, so I dont think showing them how to read in CSV files is the point here.

So using this package removes the confusio

[2019-03-07 04:38] anuj2054 commented on #445
This issue has been solved in https://github.com/swcarpentry/r-novice-gapminder/pull/455 and should be closed

[2019-03-07 04:52] naupaka commented on #445
Thanks @anuj2054 !

[2019-03-07 04:52] #445 closed

[2019-03-07 04:55] naupaka commented on #481
Worth considering! In general I think learners are more likely to have to read in data from csv files than getting their data from packages, but I could potentially be convinced otherwise. Thoughts, @mawds @jcoliver ?

[2019-03-07 05:13] anuj2054 opened #482 "dplyr::arrange referenced in challenge section without being introduced"
The `dplyr::arrange` function is being asked to be used by the students for a challenge. The students are only given a hint to use `arrange`.

I think even with `arrange` being introduced in the text earlier, this could count as an advanced challenge to a student who is just being introduced to `dplyr`.

I think time can be conserved in this episode by removing or shortening the section on `count`

[2019-03-07 17:45] jcoliver commented on #481
I agree with @naupaka . While loading in the data from the gapminder package is easier, I do think the reinforcing `read.csv` through multiple examples is important for our learners, since they will, for the most part, not be dealing with pre-loaded data sets in their own work.

[2019-03-10 21:26] naupaka opened #483 "Subsetting countries for multi-panel figures in ggplot episode is too advanced"
I propose that instead of subsetting the plot to only show countries that begin with A or Z as facets (which I believe was done because the plot takes forever to generate if you try doing it for all countries at once), all of the subsetting code is removed and instead the plot is simply facetted by continent.

https://github.com/swcarpentry/r-novice-gapminder/blob/f3d5c959a39de2b4d9d9f6927523e8a96

[2019-03-10 21:29] naupaka opened #484 "Change theme code in ggplot episode from removing axis labels to simply rotating them"
I don't think we should ever encourage folks to make plots without x axis labels, which is what happens in this example.

https://github.com/swcarpentry/r-novice-gapminder/blob/f3d5c959a39de2b4d9d9f6927523e8a969427004/_episodes_rmd/08-plot-ggplot2.Rmd#L352

I propose that we replace the code to remove labels and tick marks

[code]

with code to make the labels vertical (so they don't overlap)

[co

[2019-03-10 22:33] naupaka opened #485 "Start preparing for June 18th lesson release"
It's been a while - probably time to do a formal release. Before June 18th, we should: (via @ErinBecker) "check and confirm that all code blocks, exercises, and solutions working as expected. [We] *do not* need to resolve all existing Issues and PRs before releasing [the] lesson".

[2019-03-11 17:21] jcoliver commented on #485
@naupaka @mawds An April meeting to disucs this? Or perhaps a collaborative document (here or on Google) to divide and conquer tasks?

[2019-03-11 18:35] naupaka commented on #485
Good idea. Perhaps both.

[2019-03-12 13:45] #304 closed

[2019-03-12 13:45] #332 closed

[2019-03-12 13:58] fmichonneau commented on #476
you're all set!

Default branch is now 'master', 'gh-pages' is an orphan branch managed by Travis-CI.

I'll let you:

- [ ] add the travis badge
- [ ] update the documentation (where relevant).

[2019-03-12 19:43] liz-is commented on #483
I taught at a workshop today that used this approach and it seemed to work well.

[2019-03-17 09:10] philippbayer commented on #365
Hello again, I found these 'alternative' lessons from the University of Manchester which do mostly what I wanted to do in my 'experimental' fork:

https://uomresearchit.github.io/r-tidyverse-intro/

[2019-03-18 21:20] mawds commented on #365
Yes - those are the lessons I mentioned in my post April last year (though it looks like I didn't link to them - d'oh! ).  The focus of the course I (used to - am no longer at UoM) run was much more data analysis focused than the official lesson (and also had less time), hence the adaptation.

[2019-03-25 05:54] naupaka opened #488 "Need to update contributing.md to reflect new master branch Travis system"
Because the current version is now out of date. cc @mawds @jcoliver

[2019-03-25 21:24] mawds commented on #488
Should this be an issue for the styles repository?  That still shows `gh-pages` in it's [CONTRIBUTING.md](https://github.com/carpentries/styles/blob/gh-pages/bin/boilerplate/CONTRIBUTING.md)

[2019-03-25 21:34] naupaka commented on #488
Good question. @fmichonneau @rgaiacs ?

[2019-03-25 21:49] rgaiacs commented on #488
@naupaka and @mawds Thanks for the issue. As far as I know, The Carpentries never make the migration to use `master` instead of `gh-pages`. This was because of the extra step in settings required to have the lesson built by GitHub Pages.

I believe that @fmichonneau was investigating ways to use Travis CI to make the build of the lesson but I'm not aware of progress on it. Sorry.

[2019-03-26 07:34] fmichonneau commented on #488
You can edit the file in your repository.

The CONTRIBUTING file in the styles is actually not part of the template that gets updated with new releases. It's only part of the files that populate the repo when first creating the lesson.

[2019-03-26 12:15] naupaka commented on #488
Thanks @fmichonneau. I can get to this in a couple days.

[2019-04-03 23:07] jcoliver commented on #473
Resolved with #492

[2019-04-03 23:07] #473 closed

[2019-04-05 19:36] ksamuk commented on #484
Hi! I agree with this wholehearted and created a pull request to address this here. https://github.com/ksamuk/r-novice-gapminder/pull/1#issue-267941128

Thanks!

[2019-04-05 20:43] naupaka commented on #484
@ksamuk thanks! Can you submit the PR against the master branch in this repository? It looks like the PR is on your fork.

[2019-04-05 21:44] ksamuk commented on #484
My bad, I redone here: https://github.com/swcarpentry/r-novice-gapminder/pull/493

[2019-04-05 21:56] #484 closed

[2019-04-07 22:08] margarc opened #494 "[suggestion] data structures episode 04: add line of code introducing the dir.create function"
After this point in Episode 4 Data Structures:
Let’s start by making a toy dataset in your data/ directory, called feline-data.csv:
cats <- data.frame(coat = c("calico", "black", "tabby"),
                    weight = c(2.1, 5.0,3.2),
                    likes_string = c(1, 0, 1))

_I would suggest to introduce a line here to introduce the useful function dir.create()_
In case students did not alr

[2019-04-15 01:58] naupaka commented on #494
While I see the value in this, I wonder if it might not cause more headache than value-add.

Many novices have a lot of trouble determining/setting/understanding the concept of a working directory, and creating directories in R might be more complicated than just making a new directory with Finder/Windows Explorer, which helps learners see the concordance between the files they are accessing in R

[2019-04-15 06:27] katrinleinweber commented on #221
In case anyone reading this _is_ interested in a uni-test lesson: [TIBHannover.GitHub.io/FAIR-R](https://tibhannover.github.io/FAIR-R/) forks off of r-novice-inflammation after its functions episode and teaches documenting, packaging & testing.

[2019-04-15 17:29] jcoliver commented on #494
In non-SWC workshops, I've found `dir.create` is fairly accessible to novices and helps reinforce the connection between R commands and the file system (the data folder "appears" in the Files pane when one runs `dir.create("data")`). On the other hand, I don't know if a novice really needs `dir.create`.

But adding a brief "Miscellaneous Tip" with `dir.create` would be appropriate - something that

[2019-04-16 21:45] fmichonneau opened #496 "June 2019 Lesson Release checklist"
If your Maintainer team has decided not to participate in the [June 2019 lesson release](https://carpentries.topicbox.com/groups/maintainers/T61c75ac1a8a89538/timeline-and-process-for-june-lesson-release), please close this issue.

To have this lesson included in the 18 June 2019 release, please confirm that the following items are true:

- [x] Example code chunks run as expected
- [x] Challenges

[2019-04-29 16:47] naupaka opened #497 "Episode 12 (plyr) challenges are missing solutions"
Need to add solutions to the 3 challenges in Episode 12 (plyr).

[2019-04-29 16:49] naupaka opened #498 "Setup.md is a bit sparse and could use more elaboration"
Need to fix grammar and add a bit more context.

[2019-04-29 16:52] naupaka opened #499 "Learning objectives for lesson 15 (knitr) not in full sentences"
Learning objectives for episode 15 (knitr) need to be made into complete statements instead of just a list of terms.

[2019-04-29 16:57] naupaka opened #500 "Episode 15 (knitr) challenges are missing solutions"
Need to add solutions to the challenges in episode 15

[2019-04-29 16:59] jcoliver opened #501 "ProjectTemplate example fails in episode 16"
At the beginning of episode 16 (Writing Good Software):

[code]

Likely due to creation of `data` directory.

[2019-04-29 17:00] naupaka commented on #485
Superseded by #496

[2019-04-29 17:00] #485 closed

[2019-04-29 17:00] mawds commented on #497
needed for issue #496

[2019-04-29 17:00] mawds commented on #498
needed for issue #496

[2019-04-29 17:00] mawds commented on #499
needed for issue #496

[2019-04-29 17:01] mawds commented on #500
needed for issue #496

[2019-04-29 17:03] jcoliver opened #502 "Remove color by continent at beginning of Transformations & Statistics (08)"
At the beginning of "Transformations & Statistics" section of lesson 08 (ggplot), the example has `color = continent`. Subsequent code blocks do not have this aesthetic set, and a challenge later on assigns this to users. The `color = continent` should be removed.

[2019-04-29 17:07] jcoliver opened #503 "Ensure write-to directories exist"
Add hidden code blocks to ensure directories that are being written to exist. These include `results` (episode 08), `functions` (episode 10), `results` and `cleaned-data` (episode 11).

[2019-05-02 17:49] jcoliver commented on #501
Could be solved by using a different name for the new project, i.e. `../my_project_2`

[2019-05-04 22:23] naupaka commented on #502
Closed via #505

[2019-05-04 22:23] #502 closed

[2019-05-14 23:23] ErinBecker commented on #496
Hi Maintainers! - Just confirming that you're still planning on including your lesson in the June 2019 release. We'll be putting out a blog post tomorrow inviting contributors to work on issues that have been tagged as part of the release milestone, so if there are specific issues you're looking for community help with, please add them to that milestone. I'll make a first pass and add issues curre

[2019-05-20 20:25] ChristineRWells opened #508 "correcting grammatical and punctuation errors"
There is a word missing from a sentence and a period where there should be a comma

http://swcarpentry.github.io/r-novice-gapminder/05-data-structures-part2/index.html

In the solution to challenge 3, it reads:  "The solution here presents one form using nested functions. i.e. a function passed as an argument to another function. "  I believe the word "of" is missing between "form" and "using".  A

[2019-05-20 20:30] jcoliver commented on #508
Thanks, @ChristineRWells . The entirety of the Solution to Challenge 3 could probably be revised for clarity. Want to take a try editing the Rmd file and submit a pull request?

[2019-05-20 20:33] ChristineRWells commented on #508
I am very new to this, and I am not sure exactly what to do (I understand it only in theory).  I fear making some sort of error that would take someone a long time to correct - I certainly do not want to create additional work for anyone.

[2019-05-20 20:47] jcoliver commented on #508
No worries. We welcome contributions at any level. If you're up for it, there is a great tutorial on using Git and GitHub for updating lessons at [https://gcapes.github.io/swc-pr-tutorial/](https://gcapes.github.io/swc-pr-tutorial/).

[2019-05-20 22:37] ChristineRWells commented on #508
Greetings,

I will try to do this tomorrow.  ☺

Best,

Christine Wells, Ph.D.
UCLA Statistical Consulting Group
https://stats.idre.ucla.edu<https://stats.idre.ucla.edu/>

UCLA researchers are welcome and invited to walk-in consulting.
4919 Math Sciences

Walk-in Consulting Hours:
Monday, Tuesday 10 a.m. to 12 noon; Wednesday, Thursday 1 to 3 p.m.
See https://stats.idre.ucla.edu/ucla/policies/#Walk

[2019-05-29 18:42] jcoliver commented on #501
Addressed by #506

[2019-05-29 18:42] #501 closed

[2019-05-29 18:42] jcoliver commented on #503
Addressed by #506

[2019-05-29 18:42] #503 closed

[2019-05-31 12:58] mawds commented on #499
Fixed in  #507

[2019-05-31 12:58] #499 closed

[2019-06-03 20:24] jcoliver commented on #500
Formatting Rmarkdown so it ends up rendered as markdown requires some contortions using some fairly specific back-ticking. An example of this can be found at [https://github.com/jcoliver/learn-r/blob/gh-pages/005-intro-knitr.Rmd](https://github.com/jcoliver/learn-r/blob/gh-pages/005-intro-knitr.Rmd).

[2019-06-03 23:01] ErinBecker commented on #496
Hey Maintainers - just checking in to see if you're still planning on joining the release this month. We're asking that all lessons have completed the checklist by [Tuesday, 4 June, Anywhere on Earth time](https://www.timeanddate.com/worldclock/fixedtime.html?iso=20190604T235959&p1=3399) in order to be included in the release. Please let me and @fmichonneau know if you have any questions or are ru

[2019-06-03 23:38] naupaka commented on #496
@ErinBecker yes we're planning to have them all done by then. Just down to the wire as usual...

[2019-06-05 05:52] naupaka commented on #498
Closed by #511

[2019-06-05 05:52] #498 closed

[2019-06-05 06:14] naupaka commented on #497
Closed by #512

[2019-06-05 06:14] #497 closed

[2019-06-05 07:24] naupaka commented on #500
See also #515 #516

[2019-06-05 07:48] naupaka commented on #500
and #518

[2019-06-05 07:58] naupaka commented on #496
@ErinBecker @fmichonneau @mawds @jcoliver done!

[2019-06-05 07:59] naupaka commented on #500
@kbroman's solution for the win! Now sure how the magic wizardry was figured out but the incantation works. https://gist.github.com/kbroman/ca560b967b0b7a08a3b2

[2019-06-05 07:59] #500 closed

[2019-06-07 00:06] #480 closed

[2019-06-08 21:07] GitGeneral1 opened #520 "Exploring Data Frames: Factor"
This submission is related to the “[Exploring Data Frames](http://swcarpentry.github.io/r-novice-gapminder/05-data-structures-part2/index.html)” episode.  An objective of the episode is to understand what a factor is.

Although the order of the factor has no specific meaning in the given example, the order of factor is often meaningful.  For example, the levels “low,” “medium,” and “high” in descr

[2019-06-10 16:55] jcoliver commented on #520
Good point, @GitGeneral1 . This might be good material for an optional challenge.

[2019-06-11 23:15] ErinBecker commented on #496
Awesome work @swcarpentry/r-novice-gapminder-maintainers  and everyone else who contributed! This is just a quick message confirming that this lesson will be included in the release that @fmichonneau and I are preparing this week. The release is scheduled to go through on the 18th and to be announced to the community on the 24th. Please let us know if you have any questions! And congratulations ag

[2019-06-14 03:17] kekoziar opened #521 "Gapminder Formjacking threat"
According to [Symantec](https://safeweb.norton.com/report/show?url=https://www.gapminder.org/&ulang=en), gapminder.org is currently compromised and contains several formjacking threats.  This lesson should probably have any direct links removed until the threats can be resolved.

[2019-06-14 12:49] yochannah opened #522 "Code highlighting - low contrast and hard to read"
I'm not sure if this is the right place to raise this issue - it might need to be on a lesson template somewhere instead(?) so please let me know if I should raise it elsewhere.

![image](https://user-images.githubusercontent.com/9271438/59509751-d410d180-8ea9-11e9-98aa-d8a1139bb38d.png)

The combination of very thin font + grey background + purple in R code highlighting is just low enough contras

[2019-06-14 17:14] fmichonneau commented on #522
thanks for bringing this up @yochannah, I reported the issue in the styles repo (carpentries/styles#411), and we'll address this there.

[2019-06-14 20:21] monicathieu opened #523 "episode 9 (vectorizing): compare with for loop output?"
Hi Carpentries folks,

The listed [key point in episode 9 about vectorizing](https://github.com/swcarpentry/r-novice-gapminder/blob/2169686b07a57e46821a0a1351e9fba2e2a8691f/_episodes_rmd/09-vectorization.Rmd#L10) is to

which is great! However, in the episode, there are no side-by-side examples of accomplishing the same task using both a vectorized call and a for loop. The first piece of explanato

[2019-06-19 15:57] #522 closed

[2019-06-19 21:30] #508 closed

[2019-06-24 21:53] jcoliver commented on #523
Thanks for this suggestion, @monicathieu . I think it raises a great point about having side-by-side comparisons accomplishing the same task via loop and via the built-in vectorization. Perhaps Challenge 1 could be revised to ask for two solutions: a for loop and a vectored approach (the former might seem a bit artificial at this point of the lesson, but would help reinforce loop syntax). But othe

[2019-06-24 21:58] jcoliver commented on #521
Thanks for the heads up, @kekoziar . Thoughts @naupaka ?

[2019-06-26 02:18] naupaka commented on #521
Looks like the only link is in the README. Seems like we could switch it out to https://en.wikipedia.org/wiki/Gapminder_Foundation easily enough. @kekoziar care to submit a PR with the change?

[2019-06-26 16:59] jcoliver commented on #521
There's a link in episode 01, too, in the Motivation section.

[2019-06-27 15:01] kekoziar commented on #521
@naupaka Yes, I'll submit a PR with the fix.  Thanks!

[2019-06-27 23:31] fjuniorr commented on #523
I think a side-by-side comparison is _the_ best way to let learners _see_ that vectorized code is more concise, easy to read, and less error prone as claimed in the lesson.

As noted by @monicathieu, since the for-loop syntax was already covered in the control flow episode, I don't even think that we are actually adding a new concept, just making the claims about vectorized code more concrete for

[2019-06-28 22:40] naupaka commented on #521
@kekoziar can you adjust the PR to be against the master branch? We merge to master and then Travis CI renders and pushed to gh-pages, so any changes to gh-pages will be overwritten.

[2019-06-28 22:56] kekoziar opened #527 "contributing.md not correct"
`contributing.md` states

contributions.

but, that doesn't seem to be the case nor workflow for this repository. `contributing.md` should be updated to reflect the workflow of this repository.

[2019-06-28 23:05] jcoliver commented on #527
Thanks, @kekoziar . The contributing.md file comes from the Carpentries [style](https://github.com/carpentries/styles) repository (I'm pretty sure), and this should be addressed with the next release (theoretically).

[2019-07-01 14:45] fmichonneau commented on #496
lesson released! :tada: https://doi.org/10.5281/zenodo.3265164

[2019-07-01 14:45] #496 closed

[2019-07-01 19:31] jcoliver commented on #523
Thanks, @fjuniorr . One minor suggestion would be to skip `identical`, and instead assign the output of `x + y` to a variable, and print that one out to the screen, just as was done with `output_vector`. e.g.

[code]

[2019-07-02 08:33] davidrpugh opened #528 "Binder button for README?"
Any interest in adding [Binder](https://mybinder.org/) button to the README file which when clicked would open a cloud environment with all software installed for learners to work through the lessons? If so I would be happy to open a PR.

I just finish contributing a similar PR to the [Python](https://github.com/swcarpentry/python-novice-gapminder) lessons.  The approach we ended up taking was to

[2019-07-02 15:28] jcoliver commented on #528
That would be pretty great, @davidrpugh .

[2019-07-02 17:10] davidrpugh commented on #528
@jcoliver Cool! If you can create an orphaned (i.e., empty) branch called `binder` in this repo then I will open a PR against that branch to add the required files. I will then open a second PR to add the binder button to the README.md on the `gh-pages` branch.

[2019-07-02 21:49] jcoliver opened #530 "Update CITATION"
Given the new release (https://doi.org/10.5281/zenodo.3265164), the citation should be updated, too.

[2019-07-02 23:07] jcoliver commented on #528
`binder` branch created, @davidrpugh . Note that we have switched to `master` branch, so please open PRs against that one, not the `gh-pages` branch.

[2019-07-03 05:35] davidrpugh commented on #528
@jcoliver Thanks for creating the branch but it doens't look like the branch was orphaned. when it was created. The `binder` branch should start with a blank slate and it only needs to contain the data files and a couple of binder configuration files it is not necessary for the `binder` branch to have all of the lesson materials.

Options would be to delete the `binder` branch and the recreate it

[2019-07-03 21:38] jcoliver commented on #528
@davidrpugh right, my bad. Let me try it again, the right way...

[2019-07-03 23:52] jcoliver commented on #528
@davidrpugh OK, I deleted the branch and created an orphan `binder`. It just has a README that can be overwritten.

[2019-07-05 01:49] naupaka commented on #530
Instructions here

- Add your Zenodo DOI badge to your README file

1. Find your lesson on The Carpentries community in Zenodo
2. Click the DOI badge located in the right-hand info bar
3. Copy the Markdown code into the top of your README.md file

- Update your CITATION file

1. On your lesson's Zenodo page, copy the "Cite As" information from the right-hand info bar
2. Paste into your CITATION fi

[2019-07-05 02:39] naupaka opened #535 "Update styles to fix bash code chunk formatting issues"
See https://github.com/swcarpentry/r-novice-inflammation/issues/436#issuecomment-504438032 for more details

[2019-07-10 17:17] jcoliver commented on #528
Addressed in #532 and #534

[2019-07-10 17:17] #528 closed

[2019-07-10 17:23] jcoliver commented on #527
Closing this issue as it duplicates #488

[2019-07-10 17:23] #527 closed

[2019-07-10 17:55] davidrpugh opened #537 "How to keep gh-pages up to date in my fork?"
I am maintaining a fork of these lessons and would like to understand how to keep the `gh-pages` branch in sync with `gh-pages` in this repo. Looks like the `gh-pages` is being auto built by Travis and development is going on in `master`. Do I just need to enable Travis for my fork of the repo?

[2019-07-14 23:01] fjuniorr commented on #523
@jcoliver I can see how identical can be unnecessary in this case. But since the `x+y` variable was just printed above in the lesson, maybe we can just print the `output_vector` variable to the screen.

I've submitted a PR with this approach. Please let me know if you and @monicathieu think it achieves the intended purpose.

[2019-07-19 01:17] fjuniorr commented on #488
I've submitted PR #539 to fix this. However, for me, the confusion came from following the [guide](https://github.com/dmgt/swc_github_flow/blob/master/for_novice_contributors.md#option-2---use-a-command-line-interface-with-git) mentioned in the [The Carpentries Handbook](https://docs.carpentries.org/topic_folders/maintainers/contributing.html) for novice contributors.

Not really sure in how to be

[2019-07-19 02:17] naupaka commented on #488
I have reopened this to keep the thread, it seems like we need to deal with the Carpentries Handbook issue. @fmichonneau how would you like us to move forward on this? Can we just add some additional detail to the handbook?

[2019-07-19 13:28] fmichonneau commented on #488
That would be great if someone could do a PR to update the info on the handbook for R-based lessons.

[2019-07-19 17:30] #523 closed

[2019-07-19 19:46] AmeliaMN opened #540 "Remove plyr dependency"
From the `plyr` [GitHub repository](https://github.com/hadley/plyr): "`plyr` is retired: this means only changes necessary to keep it on CRAN will be made. We recommend using `dplyr` (for data frames) or `purrr` (for lists) instead."

I think it would be good practice to remove `plyr` from this lesson. Looking at the files in this repo, I can see that the main place `plyr` is shown is in `12-plyr.

[2019-07-30 16:43] wallacelab commented on #481
I'm in favor of the original poster and using library(gapminder), especially in lessons where reading/writing CSV isn't a major focus (such as the ggplot2 lesson). An independent workshop I ran ~6 months ago ground to a halt for 30+ minutes as more than half the class couldn't locate the download link. (Part of this was on the instructor not preparing sufficiently; nonetheless, if I had known abou

[2019-07-30 16:49] wallacelab commented on #329
I would recommend adding to this section a note that the gapminder data can be loaded using `library(gapminder)`. (See also issue #481.)

[2019-07-30 17:28] wallacelab opened #542 "Suggestion to add a gentler introduction for ggplot2"
The current [ggplot2 lesson](http://swcarpentry.github.io/r-novice-gapminder/08-plot-ggplot2/index.html) feels like it starts very abruptly, going from nothing to using ggplot(), aes(), and geom_point() all in a single line of code. That seems like a bit much for a first experience. (I learned ggplot2 ~6 months ago through this very lesson, and I felt very lost until I could go back through a seco

[2019-07-31 16:39] pab2163 opened #543 "Specificity of learning objectives for data structures lesson"
The learning objectives from the [data structures lesson ](http://swcarpentry.github.io/r-novice-gapminder/04-data-structures-part1/index.html
) are little bit broad, and could be made a bit more specific (i.e. what can students *do* after completing the lesson)

Here are some possible alternatives:
-be able to create and work with the 5 main types of data
-develop comfort with creating and modify

[2019-07-31 16:43] pab2163 opened #544 "Explanation for relationship between matrices and data frames in data structures lesson"
In the [data structures lesson](http://swcarpentry.github.io/r-novice-gapminder/04-data-structures-part1/index.html), it feels as though the matrix information at the end is a bit of an afterthought, it is not clear exactly how they relate to lists, vectors, and data frames.

We could add a little bit of information especially on what differentiates matrices and dataframes, and what they might be

[2019-07-31 17:01] AndresBeita opened #545 "Seeking Help episode 04: add an example of the usage of dput function"
At the end of episode 04: Seeking Help, the lesson suggests the use of the function dput, but there is not much more about it. For me, as it is now, it feels a little bit abstract and not straightforward to understand.

In the Data Carpentry lesson on Data Analysis and Visualization in R for Ecologists, Chapter 1: Before we start, section Asking for help, they already solved this problem providing

[2019-07-31 23:47] jcoliver commented on #540
A good point, @AmeliaMN . This switch to dplyr is reflected in the suggested [lesson plans](http://swcarpentry.github.io/r-novice-gapminder/guide/#lesson-plans) included in the Instructor Notes. None of the plans include the plyr episode. I'm not sure that wholesale removal of the lesson is necessarily the direction to take, but updating the dplyr lesson with critical elements of the plyr lesson c

[2019-07-31 23:53] jcoliver commented on #542
Great points, @wallacelab . I like the explanations for the different parts of a stripped-down `ggplot` call. One challenge I faced when learning `ggplot` syntax (because, let's be honest, the struggle is real) is that reading the descriptions didn't mean much until I had typed in the code (usually incorrectly). Perhaps the explanatory language you are suggesting could come _after_ the first call

[2019-08-01 00:01] jcoliver commented on #543
Thanks, @pab2163 . I think there could be a larger effort to review learning objects for _all_ lessons. At the very least, making them congruent with one another would be a good idea. For example, compare those from the [functions lesson](http://swcarpentry.github.io/r-novice-gapminder/10-functions/index.html):

+ Define a function that takes arguments.
+ Return a value from a function.
+ Check ar

[2019-08-01 00:14] jcoliver commented on #545
Good point, @AndresBeita . I wonder though, if the `dput` section should just be removed. The output of `dput(head(iris))`:
[code]
may not be recognizable by most of the learners at this point in the lesson.

[2019-08-01 12:25] herczegrobert commented on #544
What about [Advanced R](http://adv-r.had.co.nz/Data-structures.html) suggestions:

R’s base data structures can be organised by their dimensionality (1d, 2d, or nd) and whether they’re homogeneous (all contents must be of the same type) or heterogeneous (the contents can be of different types). Matrices have to be homogeneous while data frames can be heterogeneous.

[2019-08-02 00:34] naupaka commented on #540
This is a great issue submission and some good ideas about how to resolve it. Thanks, @AmeliaMN!

I would love to see option 3, replacing the `plyr` lesson with a `purrr` lesson. That would be a really nice contribution, and something that is currently not available in SWC or DC lessons as far as I know. I agree it is time to retire the `plyr` lesson. Perhaps there is a pasture where we can let it

[2019-08-02 01:07] katherinesimeon commented on #543
I agree that objectives from all lessons could be reviewed and refreshed. While many of the lessons have specific and achievable objectives, the objectives could be re-structured/ordered to:

1. Better parallel with the structure of the lesson
2. In line with Bloom's Taxonomy, scaffold from lower-order (knowledge, comprehension, & application) to higher-order (analysis, synthesis, & evaluation) th

[2019-08-02 23:15] jcoliver commented on #540
A `purrr` lesson would be great (really, a "functional programming with `purrr`" lesson would be great).

A logistical question then: can we replace episode 12 with a purrr episode _without_ breaking links to the `plyr` lesson (i.e. [http://swcarpentry.github.io/r-novice-gapminder/12-plyr/index.html](http://swcarpentry.github.io/r-novice-gapminder/12-plyr/index.html)), orphaned as they may be?

Ad

[2019-08-02 23:17] jcoliver commented on #543
Thanks, @katherinesimeon and @pab2163 ! I think for now submitting PRs with suggested revisions would be the place to start. Most of the lessons have learning objects with the right spirit, they just need a little love to align with Bloom's taxonomy and the order of the lesson.

[2019-08-04 02:59] seacatkim commented on #544
I submitted a pull request changing the matrix description to the following as per your suggestion @herczegrobert

"Last but not least is the matrix. Similar to data frames, matrices are two dimensional with rows and columns. A data frame can combine columns of different data types such as integers, factors, logical etc. while matrices are homogenous only containing a single data type for the whol

[2019-08-05 06:11] Athanasiamo commented on #481
I'm in favour of keeping the lesson to reading in the csv. If learners cannot even locate the csv file, while not integral part of the R lesson, it is an integral part of even working with R for one self. While it might be making the pace slow for the learners that are comfortable navigating their computer, if the learners that are not cannot after the lesson open their own data in R, they will no

[2019-08-05 18:47] jcoliver commented on #544
Addressed by #546 .

[2019-08-05 18:47] #544 closed

[2019-08-08 19:42] naupaka commented on #481
I think this is a key comment by @Athanasiamo --

[2019-08-12 18:06] jpiaskowski commented on #540
I agree with the purrr suggestion (replace plyr with a purrr lessson). The downside to keeping the plyr lesson in gapminder lessson set currently is that when people use this lesson set for their SWC checkout, they have to be prepared to teach the plyr section, as well.

[2019-08-12 21:28] AmeliaMN commented on #540
@jpiaskowski I'll admit I was a little terrified of the plyr episode being chosen for my checkout! Although, I think I could do 5 minutes of the lesson reasonably smoothly.

[2019-08-12 23:41] jpiaskowski commented on #540
Challenge 5 of section 1 asks learners to install plyr - another area maybe we should change to "dplyr", although this is only an exercise in how to install packages.

[2019-08-14 20:12] wallacelab commented on #542
@jcoliver Thanks. I think it makes more sense to present the overview first, then show the learners how each part of the command fits into it. This lesson was my first training in ggplot, and though I can't speak for others, that big chunk of code at the beginning was a turn-off because it looked really complex and uninterpretable. When teaching, I've found it's actually useful to skip the first p

[2019-08-14 21:20] jcoliver commented on #540
Great points @jpiaskowski and @AmeliaMN . @naupaka and I are working on a strategy for retiring the plyr materials without destroying them entirely. I've submitted a PR to the training materials repo to indicate instructors in training should not be asked to teach the plyr lesson.

[2019-08-16 17:45] ed-lau commented on #542
I would suggest removing or replacing the geom_line() points in the current sections. While I understand the intention of showing that ggplots can be built by layers and that one set of data/aes can be mapped to different geoms, I think many will find the current line plots to be visually overwhelming.

In my opinion they are also not good data exploration plots - you probably wouldn't expect to f

[2019-08-19 13:16] wallacelab opened #553 "Include qplot() in ggplot lesson?"
I'm debating whether it makes sense to include a short section on the qplot() function at the start/end of the ggplot() section. qplot() function is a very fast and easy way to plot graphs, and may be all many learners need (especially at first). For example, the following code using full ggplot syntax

`ggplot(gapminder, mapping=aes(x=gdpPercap, y=lifeExp)) + geom_point()`

can be rentered with q

[2019-08-26 13:51] ElenaSal55 commented on #483
Hi, I was reading now the section 8, about creating graphics with ggplot2 and I noticed that the new script faceting by continent create a problem in the immidiately  following script in "Modify text" and "Exporting the plot", because the object az.countries has not been created anymore in the Multi-panel figure section.

[2019-08-29 19:29] rkclement opened #558 "Weird mean() error in beginning of the dplyr episode"
I have taken to showing students read_csv() instead of read.csv() when we start working with the gapminder data. Today I ran into a strange error and want to know if others have seen this and have any idea how old it is (I think this code worked back in February 2019).

If I read in the gapminder data with:
`gapminder <- read_csv("data/gapminder_data.csv")`

When I get to the beginning of the dply

[2019-09-04 13:27] EspenRosenquist commented on #442
I agree with @naupaka. It is best to use base functions where they are just as simple to use or where the readr:: version adds no benefits (that I know of). On the contrary, having direct control of the `encoding` parameter is much more convenient than `locale` in the `readr` package. Especially for R users on Windows or otherwise having to read non `UTF-8`data (or forcing said encoding) data.

[2019-09-06 00:03] dkcoxie commented on #479
Taught this lesson for the first time and found the feline_v2.csv reference very confusing. I think it should removed. If a 'badly' behaved data frame is included, I think it would fit better as an example in an example in 02-project-intro, as something that can be downloaded, changed in a text editor, and then loaded into R to demonstrate the how best practices of project organization/data analys

[2019-09-06 14:02] fmichonneau commented on #558
hi @rkclement!

Your diagnostic is correct, you can't compute the mean on a data frame object:

[code]

If you import `gapminder` using `read.csv`, the `gapminder` object is of class `data.frame`:

[code]

When you evaluate: `gapminder[gapminder$continent == "Africa", "gdpPercap"]`, R then coerces the result to a vector. Indeed, a hidden argument of the `[` function called `drop` (set to `TRUE` by

[2019-09-06 15:35] jtallantumich opened #559 "Install gapminder package and load library"
It seems helpful to me to have learners see that data can be stored in a package and easily loaded as a library. Consider adding to alternatives section.
-jtallant

---

Thanks for contributing! If this contribution is for instructor training, please send an email to checkout@carpentries.org with a link to this contribution so we can record your progress. You’ve completed your contribution step fo

[2019-09-06 15:36] jtallantumich commented on #559
https://github.com/swcarpentry/r-novice-gapminder/compare/master...jtallantumich:patch-1

[2019-09-06 16:29] MariaYR opened #560 "write.csv in Episode 4: Data structures(https://swcarpentry.github.io/r-novice-gapminder/04-data-structures-part1/index.html)"
Hi, this comment is about the write.csv line in the very first part of the episode:  https://swcarpentry.github.io/r-novice-gapminder/04-data-structures-part1/index.html. While doing my teaching demo, the instructor noted the write.csv portion was skipping ahead, but that's the actual order of the lesson. So I wondered if maye it just wasn't confusing overall.  I  do think its confusing for novice

[2019-09-16 17:34] pschloss commented on #442
The #1 reason to scrap the `read.XXX` functions is that it automatically converts strings to factors. `read_XXX` does not. IMHO, there's no reason a learner needs to hear the word "factor" in a SWC workshop.

[2019-09-26 08:34] monahton opened #561 "Exploring Data Frames episode: add a tip on the usage and the meaning of %in% operator"
This submission is related to the "Exploring Data Frames" episode [http://swcarpentry.github.io/r-novice-gapminder/05-data-structures-part2/index.html](http://swcarpentry.github.io/r-novice-gapminder/05-data-structures-part2/index.html).

In the "Removing columns" section, the following commands were used:
`drop <- names(cats) %in% c("age")`
`cats[,!drop]`

However, this is the first time the "%in

[2019-09-26 23:17] jcoliver commented on #561
Good point, @monahton . Copying the tip from the Subsetting Data episode would be good (probably best to leave the tip in it's original location, too, since the `%in%` operator could use some reinforcement).

[2019-09-26 23:21] jcoliver commented on #560
I think the focus of the first part of this episode is to highlight how R works with tabular data. Creating a small data set, then writing and reading the data provides an accessible introduction to common data file formats used with R.

[2019-09-26 23:23] #558 closed

[2019-09-28 21:11] atheobold opened #562 "Inclusion of ifelse() function in Control Flow"
In the Control Flow lesson, the current content solely addresses conditional statements that can handle a scalar input. I believe adding in R's built-in `ifelse()` function would be great, especially after the warning messages associated with Challenge 1. I have rarely, if ever, encountered an R user employing the `any()` or `all()` functions. Thus, I believe that this Tip could potentially be eli

[2019-09-30 18:21] jcoliver commented on #562
Thanks, @atheobold . I think an additional tip around `ifelse()` is warranted; I'm less inclined to remove the `any()` tip, as an R user who employs the `any()` function. ;)

[2019-10-01 16:56] jcoliver opened #565 "Subscript and superscript formatting not rendered correctly"
In the knitr lesson (episode 15), subscripts and superscripts are not rendered correctly online. This is due to a dependency on MathJax that is not part of the Carpentries template (see discussion at [https://github.com/carpentries/styles/issues/154](https://github.com/carpentries/styles/issues/154)). One possible workaround is to include MathJax via the YAML header for the specific episode. i.e.

[2019-10-02 05:12] naupaka commented on #565
Hmmmm. Seems like the easy fix for now is to add this to the header, but then things might break in the future. I'm probably a +1 for adding to the YAML, but I also feel like this is a little above my pay grade since it's more a question for the style folks. Naive question: normal html [sup](https://www.w3schools.com/tags/tag_sup.asp) and [sub](https://www.w3schools.com/tags/tag_sub.asp) tags don'

[2019-10-02 16:59] jcoliver commented on #565
I suspect `<sup>` and `<sub>` will work, but immediately succeeding the sub/superscript section is an example of LaTeX math formula formatting, which is also not rendered correctly. I imagine one _could_ use html tags to render a formula, but that terrifies me. Stay tuned for more input from the style gurus.

[2019-10-02 17:07] atheobold commented on #562
I am happy to add the `ifelse()` section, and preserve the `any()` function for all to appreciate!

[2019-10-06 10:36] dpshelio opened #568 "topic for the repository"
Please, consider adding a `lesson` topic to the repository. To do so you can [follow the help about how to add topics to the repository](https://help.github.com/en/articles/classifying-your-repository-with-topics). Check out the topics that the [Genomics R intro lesson](https://github.com/datacarpentry/genomics-r-intro) has gotten to add others that may be relevant to this lesson.

This will help

[2019-10-09 12:17] #562 closed

[2019-10-09 16:12] jcoliver commented on #568
Thanks for the suggestion, @dpshelio !

[2019-10-10 05:31] matt-dray opened #570 "Use pivot_longer() and pivot_wider() instead of gather() and spread()"
Lesson: [Dataframe Manipulation with tidyr](http://swcarpentry.github.io/r-novice-gapminder/14-tidyr/index.html).

Suggestion: replace `spread()` and `gather()` with [`pivot_longer()` and `pivot_wider()`](https://tidyr.tidyverse.org/articles/pivot.html).

Reason: these new, more intuitive functions are intended to be the de facto approach to making data 'longer' and 'wider' [as of {tidyr} version

[2019-10-10 05:43] fmichonneau commented on #568
Adding GitHub Topics is not within the scope of the GitHub permissions for Maintainers. We are coordinating an effort to standardize GitHub Topics across all our repositories. We are seeking input and feedback from Maintainers on the list of proposed topics. Please see the Request For Comments (RFC) in this GitHub issue: https://github.com/carpentries/maintainer-RFCs/issues/5

[2019-10-10 05:43] #568 closed

[2019-10-10 15:34] matt-dray commented on #570
I've had a look at doing this in [a branch of a fork of the repo](https://github.com/matt-dray/r-novice-gapminder/blob/tidyr-pivot-functions/_episodes_rmd/14-tidyr.Rmd) (link valid at time of posting).

Looks like outputs from the pivot functions differ from `gather()` and `spread()`: they have tibble class as well as `data.frame` and are ordered differently. This means some of the figures need up

[2019-10-17 09:46] SaraTomiolo opened #572 "File missing in lesson 4 of R for reproducible scientific analyses"
Hi, I am going through the lesson number 4 of [R for reproducible scientific analyses](https://swcarpentry.github.io/r-novice-gapminder/04-data-structures-part1/index.html). In the section of data types there is a prompt to load the file "feline-data_v2.csv" from the data folder, but that file does not exist.
It seems that the file may have been modified from the original "feline-data.csv" but the

[2019-10-28 13:58] mattgillucl opened #575 "Missing solution?"
On the Gapminder R notes, page 5. Exploring Data Frames, the solution to challenge 1, part 3 appears incomplete. I can't see how to get my `human_age` vector from integers 1..4 back into the actual numeric values.

[2019-10-28 14:32] mattgillucl opened #576 "Not all solution present"
On the Exploring Data Frames page, the solution to Challenge 4 does not show how to add the new script to version control.

[2019-10-28 15:05] mattgillucl opened #577 "Error in grammar"
In R for Reproducible Scientific Analysis - Control Flow page, the line:

should read

This is because "its" is used for ownership, whereas "it's" is short for "it is".

This issue is a common mistake.

[2019-10-28 15:51] mattgillucl opened #578 "Duplicate sentence"
In R for Reproducible Scientific Analysis - Control Flow, Solution to Challenge 3, step 3 has the following text:

The duplicate text needs to be removed.

[2019-10-28 16:15] mattgillucl opened #579 "Weird data item"
On [this page](https://swcarpentry.github.io/r-novice-gapminder/04-data-structures-part1/index.html) there is an entry to the `cats` data file which says

Is that a typo? What is the “or” doing there?

And the `Oh no, our weights aren’t the double type anymore!` doesn’t make sense, as it isn’t an integer.

Am I missing something here?

[2019-10-28 16:31] mattgillucl opened #580 "Missing solution text"
On [this page](https://swcarpentry.github.io/r-novice-gapminder/08-plot-ggplot2/index.html), _R for Reproducible Scientific Analysis -Creating Publication-Quality Graphics with ggplot2_, the text in the Solution for Challenge 2 is the same as the question text.

I think there should be some more explanation of the `aes` function.

[2019-10-29 10:56] mattgillucl opened #581 "Unclear diagrams"
On the page [_R for Reproducible Scientific Analysis - Dataframe Manipulation with dplyr_](https://swcarpentry.github.io/r-novice-gapminder/13-dplyr/index.html), there is a diagram with the heading `gapminder %>% group_by(a)`.

In the diagram, it is unclear whether or not the top two arrows cross. Please change this diagram to make it clear.

[2019-10-29 10:57] mattgillucl commented on #581
PS The next diagram below this one has the same problem.

[2019-10-30 18:34] jcoliver commented on #575
Thanks, @mattgillucl . The solution to part 3 of challenge one should probably explicitly mention the use of the `as.character` function.

[2019-10-30 18:35] jcoliver commented on #576
Given the scope of this episode, perhaps the best solution is to remove the requirement for the file to be added to version control.

[2019-10-30 18:40] jcoliver commented on #579
This is designed to create a problem when reading in the file. Because there is a non-numeric character (or four, really: " or ") in the weight column, R reads it in as a factor. And calling `typeof` on a factor returns "integer".

[2019-10-30 18:41] #579 closed

[2019-10-30 18:42] jcoliver commented on #580
Yes, the text in the solution should be updated to be an explanation of the solution, not just a repetition of the challenge.

[2019-10-30 18:44] jcoliver commented on #581
I agree. The arrows should be re-drawn and potentially re-colored to improve utility of these graphics.

[2019-10-30 18:47] jcoliver commented on #570
Hmmm...interesting. Any reason why the ordering in the output is different between `gather` (continent, obstype_year, _country_) and `pivot_longer` (continent, _country_, obstype_year)?

[2019-10-30 19:13] SaraTomiolo commented on #572
Hi, I have tried to look at the R Markdown file of the lesson. I think the easiest way to fix this would be to provide the user with a link (as is done for gapminder) to download this "feline-data_v2.csv" data set. Unfortunately I am not advanced enough to understand how to fix this. Sorry!

[2019-11-08 18:45] simonezuffa opened #582 "Creating Publication-Quality Graphics with ggplot2 - Challenge 5"
I suggest to modify challenge 5 in the introduction to ggplot2.
You should ask to generate box plots instead of density plots. I believe this could be more relevant to the majority of the readers and also you can point out that continents has to be a factor.

`ggplot(data = gapminder, mapping = aes(x = continent, y = lifeExp, fill = continent)) +
geom_boxplot + facet_wrap( ~ year)`

[2019-11-12 13:21] katrinleinweber commented on #570
Related: https://github.com/datacarpentry/r-socialsci/issues/104

[2019-11-13 22:28] #570 closed

[2019-11-13 22:34] jcoliver commented on #582
Intriguing idea, @simonezuffa . There's a little messiness with the axis, but fixing them could be part of the challenge. Want to submit a PR?
![challenge-5-boxplot-example](https://user-images.githubusercontent.com/1939813/68810272-fe1e1980-062a-11ea-8be2-e1c4e6fe98f2.png)

[2019-11-14 16:53] #580 closed

[2019-11-14 16:55] jcoliver opened #586 "Add explanatory text to challenge answers in ggplot lesson (episode 8)"
In Episode 8, the answers to Challenges 4a, 4b, and 5 are essentially code answers with little explanation. Accompanying text explaining what the code is doing is warranted.

[2019-11-14 16:58] #578 closed

[2019-11-14 17:15] simonezuffa commented on #582
Thanks @jcoliver . Just submitted a PR

[2019-11-25 00:21] DanielleQuinn opened #592 "gif to explain pipelines with Mario"
I'm not certain where this should go (perhaps in instructor notes?) but I wanted to share a gif I've created that uses Mario to demonstrate how pipes work in R; I've found it to be an effective visualization, though obviously more so for students who are generally familiar with Mario!

https://github.com/DanielleQuinn/what_are_pipes/blob/master/mymario.gif

[2019-11-25 18:32] jcoliver commented on #592
Nice, @DanielleQuinn ! I think the Instructor Notes would the the appropriate place to link to the gif. There seems like a lot of unnecessary whitespace at the bottom of the animation (over half the vertical space is unused). Is there any way to remove that?

[2019-11-25 18:56] jcoliver opened #594 "Revise language around pivot_longer and pivot_wider"
The change to tidyr's `pivot_longer` and `pivot_wider` (from `gather` and `spread`, respectively) prompts a review of the language describing the use of these functions. The previous functions had verbs to describe their action (i.e. "gather" and "spread"), which were at least somewhat intuitive to understand. The verb for the new functions, "pivot", does not provide the same accessibility to a no

[2019-11-25 19:01] #577 closed

[2019-12-04 18:50] #575 closed

[2019-12-16 16:57] jcoliver commented on #586
Addressed by #595

[2019-12-16 16:57] #586 closed

[2020-01-02 19:35] stephhazlitt commented on #594
Hi @jcoliver. I am looking for an open issue to fulfill my instructor training checkout requirement ([_Submit a Small Contribution to One of Our Lessons_](https://carpentries.github.io/instructor-training/checkout/)). I would be happy to make an attempt at this issue &mdash; would adding a very short introduction paragraph to the `tidyr::pivot_*` functions after `## Challenge 1` and before `## Fro

[2020-01-06 18:39] jcoliver commented on #594
Hi @stephhazlitt . That sounds like a great addition to the lesson. We would like to avoid duplicating the tidyr documentation, but a description of what these two functions do that is appropriate for a novice audience would be great. A place to start would be to look at the first respective sentences under the **Longer** and **Wider** headings.

[2020-01-06 23:18] ErinBecker opened #598 "minor suggestions [received by email]"
**Intro to R & RStudio episode:**
Need to unify if it is an .R file or a .R file
To me, the amount of information in the help pane deserves a bigger mention when introducing the different panes. A comment referring to help pages would not be out of place when mathematical functions are mentioned (sin/cos/tan etc).
Is there a reason that the tools tab in RStudio is not mentioned as an option to ins

[2020-01-07 17:45] jcoliver opened #599 "Clarification in Intro to R/RStudio lesson"
The text uses two different articles when referring to files with the .R extension (i.e. "_an_ .R file" and "_a_ .R file"). This should be standardized. When referring to the file extension in speech, the ".R" is generally spoken as "dot are", so using the article "a" seems most appropriate.

The help pane could use additional calling out; the section describing mathematical functions (sin/cos/tan

[2020-01-07 17:47] jcoliver opened #600 "Add information about opening projects in RStudio"
Additional information regarding how to open a project in RStudio (i.e. navigation to and selection of a .Rproj file) could be included.

Originally mentioned as part of #598

[2020-01-07 17:48] jcoliver commented on #598
Thanks for passing these suggestions along, @ErinBecker ! I've atomized them into separate issues #599 and #600 .

[2020-01-07 17:48] #598 closed

[2020-01-08 23:12] #594 closed

[2020-01-11 21:54] mstrimas commented on #572
Based on this older [issue](https://github.com/swcarpentry/r-novice-gapminder/issues/479) and [PR](https://github.com/swcarpentry/r-novice-gapminder/pull/533), it seems the intention is to actually remove this example altogether. Could be worth closing this issue so other trainees going through checkout process don't accidentally try to address this issue incorrectly.

[2020-01-11 22:03] mstrimas commented on #572
FWIW I think the entire feline v2 example is confusing and out of place. I agree that removing the whole thing would be an improvement. The section on Type Conversion seems to cover similar concepts in a less confusing fashion.

[2020-01-12 14:56] mstrimas opened #603 "Episode 7 (control flow), Challenge 1"
This challenge asks student to print an informative message if there are any records in gapminder for the year 2002. Two solutions are provided, one using `any(gapminder$year == 2002)` (note `any()` isn't introduced until later in that episode) and one much more complicated one involving counting the number of rows for the year 2002. It seems to me the only reasonable way to do this is with `%in%`

[2020-01-13 14:33] mstrimas opened #604 "Consistent code styling"
I see a lot of inconsistency in style of R code within the lessons. Mostly inconsistent use of spacing (e.g. `sample(1:10, size=5)` vs. `sample(1:10, size = 5)`), naming (`var_name` vs. `varName`), single vs. double quotes, etc. I find it distracting and feel like it doesn't encourage best practices, although I'm admittedly especially uptight about this stuff. If there's any interest, I'd be happy

[2020-01-14 20:49] jcoliver commented on #572
Closing, as issue #479 supersedes.

[2020-01-14 20:49] #572 closed

[2020-01-14 20:55] jcoliver commented on #604
Thanks, @mstrimas . #548 and #589 deal with some of this. I'd suggest holding off for now until those two PRs finish review.

[2020-01-15 23:53] boshek commented on #600
👋 @jcoliver . I am looking to fulfill the contribution part of my carpentries training. I think I could submit as a PR some text about opening RStudio projects, at a high level what they mean and why you can multiple ones open. I was thinking I could submit it here:

https://github.com/swcarpentry/r-novice-gapminder/blob/3eb44e593049300a2e4b6797032b06624e56e92d/_episodes_rmd/02-project-intro.Rmd#L

[2020-01-16 16:59] jcoliver commented on #600
Thanks, @boshek . That's a good place to briefly mention the utility of multiple projects (atomization et al.). I could also see adding a Challenge or a Tip at the end of the episode that closes the project, then opens it again via the .Rproj file.

And while you're mucking around in episode 2, the challenge enumeration could use some attention: the first challenge is unnumbered, and the one label

[2020-01-17 22:54] jcoliver opened #607 "Update .gitattributes so repository appears as R (not Python)"
Per comment in #606 :

Add a .gitattributes file that specifies that this repo is an R repo. Currently the repo, based on code within it, is a Python repo. This might be confusing for students who find themselves at this repo.

[2020-01-23 00:58] steltenpower opened #611 "Challenges 4b and 5 in http://swcarpentry.github.io/r-novice-gapminder/08-plot-ggplot2/index.html has different style"
Please delete this line and the text below before submitting your contribution.

---

Thanks for contributing! If this contribution is for instructor training, please send an email to checkout@carpentries.org with a link to this contribution so we can record your progress. You’ve completed your contribution step for instructor checkout just by submitting this contribution.

If this issue is about

[2020-01-23 17:44] jcoliver commented on #611
Challenge 4b and 5 in the ggplot episode are not rendered as desired. This is likely due to empty lines in solution sections immediately preceding the code block (lines 288 & 401). Deleting those lines should fix the discrepancy.

[2020-02-03 06:17] joseandresmontes commented on #481
I am commenting as part of the checkout process and came across this interesting conversation. As someone that has been a learner, a helper (and hopefully soon) an instructor, I second @Athanasiamo. I think that keeping with the read.csv helps with the reinforcement of a practice that new learners will find helpful. However, I would encourage instructors to use the library as a backup in the case

[2020-02-06 03:19] shervinsahba opened #613 "Episode 2 Challenge 4: Shell solution has "R" label."
The solution for Challenge 4 requires the commands to be written in a shell terminal, as stated. But the generated solution labels the commands with "R". It should say "Shell". It's not a big deal, but it's briefly confusing, since users just learned ls() in R as well.

[2020-02-06 17:40] jcoliver commented on #613
Thanks, @shervinsahba . This is a known issue (#535 ), requiring some updates outside the scope of this repository.

[2020-02-06 17:40] #613 closed

[2020-02-10 04:24] mariadelmarq commented on #611
@steltenpower @jcoliver this seems to have made the problem worse in that the solutions have now disappeared... I've re-added those lines and made the spacing consistent with the other challenges, but how can I check what the rendering will look like with my changes?

[2020-02-10 21:39] jcoliver commented on #611
Thanks, @mariadelmarq

[2020-02-10 21:39] #611 closed

[2020-02-18 19:57] KNortheastern opened #615 "Typos in "R for Reproducible Scientific Analysis" lesson, in "Introduction to R and RStudio" episode"
As the title says, in the "R for Reproducible Scientific Analysis" lesson, in the "Introduction to R and RStudio" episode [(link here)](https://swcarpentry.github.io/r-novice-gapminder/01-rstudio-intro/index.html) there are 3 typos.

- In the section header "Work flow within RStudio", I believe that workflow should be one word (this is open for debate though if folks feel more strongly about gramm

[2020-02-19 01:25] jcoliver commented on #615
Thanks for these, @KNortheastern !

[2020-02-26 17:09] snownontrace opened #617 "Occasional usage of "simply" in a few episodes"
In the lessons of "Introduction to R and RStudio" and "Creating Publication-Quality Graphics with ggplot2", there are some occasional usage of "simply" that we were taught to avoid using in the instructor training:

"If you want to cancel a command you can simply hit “Esc” and RStudio will give you back the “>” prompt."
"To call a function, we simply type its name ..."
"You can simply look them up

[2020-02-26 21:27] #615 closed

[2020-03-09 11:03] steltenpower opened #619 ""By running these commands in the shell:" followed by "R""
It's not run in R, but in the OS shell, right?

[2020-03-09 13:52] steltenpower opened #621 "challenge 4b and 5 in 08-plot-ggplot2.Rmd render wrong"
Please delete this line and the text below before submitting your contribution.

---

Thanks for contributing! If this contribution is for instructor training, please send an email to checkout@carpentries.org with a link to this contribution so we can record your progress. You’ve completed your contribution step for instructor checkout just by submitting this contribution.

If this issue is about

[2020-03-09 16:37] jcoliver commented on #619
Thanks, @steltenpower . This is a duplicate of #535 .

[2020-03-09 16:37] #619 closed

[2020-03-13 22:00] apculley opened #623 "Episode 1 Intro to R & RStudio, managing environment"
I’d suggest following the sentence: ‘If we type ls by itself, R will print out the source code for that function!’ with a very brief layperson explanation of what source code is, such as: ‘Source code what is going on behind the scenes whenever a function is run.’ (And then maybe add that we’ll be going over functions in detail later).

[2020-03-16 16:46] jcoliver commented on #623
Thanks, @apculley !

[2020-04-01 18:59] #617 closed

[2020-04-12 19:04] Fe-Sa opened #625 "Suggestion of adding demo() to Seeking Help episode"
I would like to suggest adding, and briefly explaining the demo() function to the "Getting help on packages" section of the "Seeking Help" episode of the R for Reproducible Scientific Analysis lesson.
http://swcarpentry.github.io/r-novice-gapminder/03-seeking-help/index.html

---

Thanks for contributing! If this contribution is for instructor training, please send an email to checkout@carpentries

[2020-04-29 21:16] blongworth commented on #623
I've seen a lot of R learners forget the parens, especially if they've just taken a shell lesson. It's also a great time to introduce thinking of everything in R as an object, and to touch on default methods, in this case print().

[2020-04-30 14:13] adrianadepalma opened #630 "Mention flexibility of variable selection in 'select' function"
Episode name: R for Reproducible Scientific Analysis
Lesson: Dataframe Manipulation with dplyr
Link: http://swcarpentry.github.io/r-novice-gapminder/13-dplyr/index.html

dplyr is being updated to version 1-0-0 (https://www.tidyverse.org/blog/2020/03/dplyr-1-0-0-select-rename-relocate/). Should the lesson mention others of the five ways to select variables with this function? In terms of reproducib

[2020-05-01 22:50] jrmuirhead commented on #553
Although I recognize that reducing the number of function calls has value, my sense is that is would not be a useful addition to the lesson as there are some key differences from the full ggplot syntax and some time would have to be spent on these differences.
Mainly,

1. `qplot` defaults to geom_point if both x, and y, and geom_histogram is either x or y are provided whereas ggplot has no default

[2020-05-02 00:33] jrmuirhead commented on #581
I've submitted a pull request changing the R code to generate the figures. One question I had @jcoliver , are the png versions in the fig directory generated as part of the TravisCI checks, or will I have to update the png files as well?

[2020-05-04 17:36] jcoliver commented on #630
Thanks, @adrianadepalma . This information would work well in an optional section. As you indicate, it has the potential to overload novice learners.

[2020-05-07 22:39] #623 closed

[2020-05-07 22:51] jcoliver opened #632 "Updata figure generation scripts to automatically export image files"
Figures (or at least some of them) for dplyr and tidyr lessons are generated via R scripts (in the fig directory). Currently, one is required to manually export png figures. It would be nice to automate this process. `DiagrammeR::export_graph` might be the best way to go about doing this.

[2020-05-08 02:32] marklcrowe opened #633 "Current release build broken - Rv4.0 incompatibilities?"
Hi, there looks to have been bugs introduced in the most recently build of episode 05-data-structures-part2. Specifically, the last table of the "Adding columns and rows in data frames" section and the first two of "Removing rows" are broken in the final .md output (NAs where there should be data, data, where there should be NAs).

My guess is that it's a consequence of the build being performed w

[2020-05-08 18:00] jcoliver commented on #633
Thanks, @marklcrowe . We're looking into this now.

[2020-05-20 19:14] jcoliver commented on #633
This is indeed caused by the development of lesson materials for R versions < 4.0, while the Travis CI uses R 4.0 to build the lesson that is displayed. With the use of Travis CI, md files are no longer used for the display of lesson materials, so replacing the md files will not change what is displayed on the lesson site. The ideal options include revising the lesson material to (1) use all R 4.0

[2020-05-29 09:39] JasonDaleTurner opened #639 "Issue in appearance of lesson 'Exploring data frames' on github.io"
https://github.com/swcarpentry/r-novice-gapminder/blob/master/_episodes_rmd/05-data-structures-part2.Rmd
line 85-96

This code does not actually result in an error when viewing the episode page on github.io, it appears the coats column may not actually be a factor but instead be a character meaning the rbind command does not throw a warning.

[2020-05-29 17:12] jcoliver commented on #639
Thanks, @JasonDaleTurner . This is a known issue #633 and we are working on it.

[2020-05-29 17:12] #639 closed

[2020-06-01 23:26] jcoliver commented on #632
Related to #631

[2020-06-02 23:14] castanedaM opened #643 "Exploring Data Frames- factor() and as.factor()"
I believe in the episode [Exploring Data Frames](https://swcarpentry.github.io/r-novice-gapminder/05-data-structures-part2/) when they make the introduction to factors, it will be fit to mention the difference and connection between using as.factors() and the function factor().

While as.factor() will leave factor levels as they are, factor() will not. Using factor() allows you to set the level to

[2020-06-03 16:26] jcoliver commented on #643
Thank you for the suggestion, @MarianaCastaneda . I think at this point in the lesson, the distinction between `as.factor` and `factor` may be a bit too much in the weeds. It is an important difference, but may be distracting to for learners, many of whom are probably still grappling with the concept of different data types.

[2020-06-06 00:04] jcoliver commented on #581
Code updated (#631 ) and png regenerated (#644 ).

[2020-06-06 00:04] #581 closed

[2020-06-17 13:25] purvakulkarni7 opened #647 "Suggestion: Command to read a data table from excel file in R"
Use of excel files is quite popular when it comes to performing scientific research.
Considering this, I would like to suggest adding, some instructions on reading excel files in the **Episode 4: Data Structures** [[https://swcarpentry.github.io/r-novice-gapminder/04-data-structures-part1/index.html](https://swcarpentry.github.io/r-novice-gapminder/04-data-structures-part1/index.html)] where `read

[2020-06-20 18:25] jam2094547 commented on #603
I think that %in% would be better to introduce as it can be a more powerful tool in the future than any.

[2020-06-22 00:55] mulderc opened #648 "Change references of OS X to macOS?"
Seeing macOS being called OS X which can be confusing for people not familiar with the pre-2016 name of macOS. Should this be updated to reflect current naming?

https://github.com/swcarpentry/r-novice-gapminder/blob/708ab907306ea764d2e279bb6048c6d9913523c3/_episodes_rmd/01-rstudio-intro.Rmd#L106

[2020-06-22 16:06] wrightrc commented on #561
Should this issue now be marked resolved? Just looking for a good first issue for my checkout.

I can also submit at PR adding [a link](https://swcarpentry.github.io/r-novice-gapminder/06-data-subsetting/#Subsetting-through-other-logical-operations) to the "Subsetting through other logical operations" section and mention there will be more on the %in% logical operator later.

[2020-06-23 16:19] jcoliver commented on #647
Thanks for the suggestion, @purvakulkarni7 . We are trying to minimize the use of third-party packages for our novice audience. In keeping with efforts to store data in open, easily computable formats (such as text files), we will stick with `read.csv` and `read.table` for now.

[2020-06-23 16:19] #647 closed

[2020-06-23 16:22] jcoliver commented on #648
Great point, @mulderc . A review of materials for all references to OS X (OSX, Mac OS X, other permutations) would be warranted. Checking with the Carpentries Curriculum Committee would also be a good idea.

[2020-06-23 16:34] jcoliver commented on #603
I am inclined to add the `%in%` solution as a third option.

[2020-07-09 13:27] peranti opened #652 "Comments to improve the lesson "Producing Reports With knitr""
I would like to share the following comments on the contents of the lesson [Producing Reports With knitr](https://swcarpentry.github.io/r-novice-gapminder/15-knitr-markdown/index.html):

- Beginners might appreciate learning the chunk options `fig.pos` and `fig.cap` besides `fig.height` and `fig.width` in the output.
- I feel this statement needs a bit more clarification: `Often there will be part

[2020-07-20 17:45] jcoliver commented on #652
Thank you, @peranti . These could indeed be useful revisions to the knitr lesson.

[2020-07-27 17:04] zkamvar opened #655 "RFC: Migration to R 4.0"
During the June Maintainer meeting, we asked for comments and experiences with the migration to R 4.0 so that we could create guidance for maintainers and instructors. We have drafted a short blog post (https://github.com/carpentries/carpentries.org/pull/830) to be released next week (2020-08-03) that describes our recommendations for migration. You can find a [preview of the blog post here](https

[2020-08-04 11:01] mhog025 opened #656 "Minor text corrections for Writing Good Software episode"
Hi there,

I've been working through the materials as part of instructor training and just have a few suggestions for edits and corrections for the Writing Good Software episode text (https://swcarpentry.github.io/r-novice-gapminder/16-wrap-up/index.html).

**Structure your project folder**: First paragraph

'This' in place of 'It':

**Make code readable**: First paragraph

The following reads awk

[2020-08-04 20:50] jcoliver commented on #656
Thanks, @mhog025 !

[2020-09-07 03:13] ltcguthrie opened #657 "Define fuzzy search in Seeking Help episode"
Hi,
I focused on the R novice lesson as a part of the instructor training and I have a suggestion for the Seeking Help episode text (http://swcarpentry.github.io/r-novice-gapminder/03-seeking-help/index.html).

I think that it would be helpful to define fuzzy and provide an example of seeking help with a partial match in the section on doing a fuzzy search.

Original text:

If you’re not sure what

[2020-09-09 18:56] kristi-sara opened #658 "duplicate library carpentry under _includes, swc missing"
Was Looking for r-novice-gapminder  schedule/syllabus under _includes, and rather than 'swc' it says 'sc' and contains duplicate material from library carpentry (it looks like same commits from the lc part of the _includes).

Unless I am missing something, looks like a typo and copy error

[2020-09-15 13:55] fmichonneau commented on #658
Hi @kristi-sara!

The files you are mentioning are related to the workshop website templates (as in this [repository](https://github.com/carpentries/workshop-template). For historical reasons, the files needed by the workshop website template are also included in the lesson templates. However, they are not being used in lesson repositories (like this one). This inconsistency has been fixed on the

[2020-09-15 13:55] #658 closed

[2020-09-17 16:20] kelseygonzalez commented on #540
I was looking through the r-novice-gapminder lesson and also remarked at the abnormality of plyr still being included in the lessons. Glad to see that @AmeliaMN already brought this issue up! I agree that the logical transition would be to make `12. Splitting and Combining Data Frames with plyr` into a `12. functional programming with purrr` lesson.

I look forward to having this lesson available

[2020-09-17 20:18] jcoliver commented on #540
@kelseygonzalez indeed. Note that because there is so much material in these lessons, we have three different recommended combinations of episodes ([http://swcarpentry.github.io/r-novice-gapminder/guide/](http://swcarpentry.github.io/r-novice-gapminder/guide/)) and none of them include the plyr lesson. It's been a year, so I suppose now would be a good time to get serious about plyr's retirement.

[2020-09-20 21:15] SaranjeetKaur opened #660 "Including a section on how to change column names of data frame in this lesson"
(This issue is specifically created as my contribution for the instructor training checkout process.)
Can we have a section in this lesson which will explain the ways in which one can change the names of the columns of a data frame in R?

[2020-09-21 20:28] jcoliver commented on #660
Thanks, @SaranjeetKaur . Is there a particular place in an episode where this would be most appropriate? It also might be something to consider for the dplyr lesson (i.e. `rename(new name = old name)`).

[2020-09-22 20:45] #476 closed

[2020-09-22 20:58] naupaka opened #661 "Need to determine what happens when lessons are retired"
@fmichonneau Is there anything special we need to do if we would like to retire one of the lessons and replace it with other content? e.g. 14-plyr

@jcoliver and I were concerned about breaking inbound links, etc.

[2020-09-25 20:03] jcoliver commented on #104
Closing this for now. The [Instructor Notes](http://swcarpentry.github.io/r-novice-gapminder/guide/) provides alternative paths. If there is interest in adding additional one-day paths, please feel free to submit pull requests on the guide file.

[2020-09-25 20:03] #104 closed

[2020-09-25 20:04] jcoliver commented on #232
Closing this for now, but please feel free to submit a pull request if time and resources afford.

[2020-09-25 20:04] #232 closed

[2020-09-25 20:05] jcoliver commented on #244
Closing this for now, but please feel free to submit a pull request if time and resources afford.

[2020-09-25 20:05] #244 closed

[2020-09-25 20:05] jcoliver commented on #251
Closing this for now, but please feel free to submit a pull request if time and resources afford.

[2020-09-25 20:05] #251 closed

[2020-09-25 20:07] jcoliver commented on #268
Closing this for now, but please feel free to submit a pull request if time and resources afford.

[2020-09-25 20:07] #268 closed

[2020-09-25 20:07] jcoliver commented on #272
Closing this for now, but please feel free to submit a pull request if time and resources afford.

[2020-09-25 20:07] #272 closed

[2020-09-25 20:08] jcoliver commented on #276
Closing this for now, but please feel free to submit a pull request if time and resources afford.

[2020-09-25 20:08] #276 closed

[2020-09-25 20:09] jcoliver commented on #657
Thanks for the suggestion, @ltcguthrie . Want to submit a pull request with this suggestion?

[2020-09-25 20:10] jcoliver commented on #657
Didn't mean to close XD

[2020-09-25 20:10] jcoliver commented on #656
Closing this for now, but please feel free to submit a pull request if time and resources afford.

[2020-09-25 20:10] #656 closed

[2020-09-25 20:11] jcoliver commented on #655
Closing this, as we are using #633 for the transition to R 4.0.

[2020-09-25 20:11] #655 closed

[2020-09-25 20:11] jcoliver commented on #652
Closing this for now, but please feel free to submit a pull request if time and resources afford.

[2020-09-25 20:11] #652 closed

[2020-09-25 20:12] jcoliver commented on #648
Closing this for now, but please feel free to submit a pull request if time and resources afford.

[2020-09-25 20:12] #648 closed

[2020-09-25 20:12] jcoliver commented on #643
We are significantly revising episode 5 based on changes introduced in R 4.0. Please feel free to re-open if warranted.

[2020-09-25 20:12] #643 closed

[2020-09-25 20:13] jcoliver commented on #630
Closing this for now, but please feel free to submit a pull request if time and resources afford.

[2020-09-25 20:13] #630 closed

[2020-09-25 20:13] jcoliver commented on #625
Closing this for now, but please feel free to submit a pull request if time and resources afford.

[2020-09-25 20:13] #625 closed

[2020-09-25 20:14] jcoliver commented on #621
Appears fixed in #627

[2020-09-25 20:14] #621 closed

[2020-09-25 20:14] jcoliver commented on #607
Closing this for now, but please feel free to submit a pull request if time and resources afford.

[2020-09-25 20:14] #607 closed

[2020-09-25 20:15] jcoliver commented on #604
Closing this for now, but please feel free to submit a pull request if time and resources afford.

[2020-09-25 20:15] #604 closed

[2020-09-25 20:15] jcoliver commented on #600
Closing this for now, but please feel free to submit a pull request if time and resources afford.

[2020-09-25 20:15] #600 closed

[2020-09-25 20:16] jcoliver commented on #599
Appears fixed in #640

[2020-09-25 20:16] #599 closed

[2020-09-25 20:16] jcoliver commented on #592
Closing this for now, but please feel free to submit a pull request if time and resources afford.

[2020-09-25 20:16] #592 closed

[2020-09-25 20:17] jcoliver commented on #582
Fixed by #588

[2020-09-25 20:17] #582 closed

[2020-09-25 20:19] jcoliver commented on #576
Closing this for now, but please feel free to submit a pull request if time and resources afford.

[2020-09-25 20:19] #576 closed

[2020-09-25 20:19] jcoliver commented on #565
Closing this for now, but please feel free to submit a pull request if time and resources afford.

[2020-09-25 20:19] #565 closed

[2020-09-25 20:20] jcoliver commented on #561
Fixed in #567 and #649

[2020-09-25 20:20] #561 closed

[2020-09-25 20:21] jcoliver commented on #560
We are working on significant revisions to episodes 4 and 5 due to changes introduced in R 4.0. Feel free to re-open as warranted.

[2020-09-25 20:21] #560 closed

[2020-09-25 20:21] jcoliver commented on #559
Closing this for now, but please feel free to submit a pull request if time and resources afford.

[2020-09-25 20:21] #559 closed

[2020-09-25 20:21] jcoliver commented on #553
Closing this for now, but please feel free to submit a pull request if time and resources afford.

[2020-09-25 20:21] #553 closed

[2020-09-25 20:22] jcoliver commented on #545
Closing this for now, but please feel free to submit a pull request if time and resources afford.

[2020-09-25 20:22] #545 closed

[2020-09-25 20:22] jcoliver commented on #543
Closing this for now, but please feel free to submit a pull request if time and resources afford.

[2020-09-25 20:22] #543 closed

[2020-09-25 20:23] jcoliver commented on #542
Closing in favor of the discussion on #552

[2020-09-25 20:23] #542 closed

[2020-09-25 20:23] jcoliver commented on #537
Closing this for now, but please feel free to submit a pull request if time and resources afford.

[2020-09-25 20:23] #537 closed

[2020-09-25 20:24] jcoliver commented on #521
Closing this for now, but please feel free to submit a pull request if time and resources afford.

[2020-09-25 20:24] #521 closed

[2020-09-25 20:25] jcoliver commented on #520
We are making significant changes to episodes 4 and 5 given the changes introduced in R 4.0. Please feel free to re-open if warranted.

[2020-09-25 20:25] #520 closed

[2020-09-25 20:26] jcoliver commented on #494
We are making significant revisions to episodes 4 and 5 due to changes introduced by R 4.0. Please feel free to re-open as warranted.

[2020-09-25 20:26] #494 closed

[2020-09-25 20:27] jcoliver commented on #482
Closing this for now, but please feel free to submit a pull request if time and resources afford.

[2020-09-25 20:27] #482 closed

[2020-09-25 20:27] jcoliver commented on #481
Closing this for now, but please feel free to submit a pull request if time and resources afford.

[2020-09-25 20:27] #481 closed

[2020-09-25 20:28] jcoliver commented on #479
We are making significant revisions to episodes 4 and 5 due to changes introduced by R 4.0. Please feel free to re-open as warranted.

[2020-09-25 20:28] #479 closed

[2020-09-25 20:29] jcoliver commented on #475
We are making significant revisions to episodes 4 and 5 in response to changes introduced by R 4.0. Please feel free to re-open as warranted.

[2020-09-25 20:29] #475 closed

[2020-09-25 20:29] jcoliver commented on #461
Closing this for now, but please feel free to submit a pull request if time and resources afford.

[2020-09-25 20:29] #461 closed

[2020-09-25 20:30] jcoliver commented on #460
Addressed in #472

[2020-09-25 20:30] #460 closed

[2020-09-25 20:30] jcoliver commented on #456
Closing this for now, but please feel free to submit a pull request if time and resources afford.

[2020-09-25 20:30] #456 closed

[2020-09-25 20:31] jcoliver commented on #442
Given updates to R 4.0, `read.csv()` no longer reads in strings as factors by default.

[2020-09-25 20:31] #442 closed

[2020-09-25 20:32] jcoliver commented on #435
Closing this for now, but please feel free to submit a pull request if time and resources afford.

[2020-09-25 20:32] #435 closed

[2020-09-25 20:32] jcoliver commented on #432
Closing this for now, but please feel free to submit a pull request if time and resources afford.

[2020-09-25 20:32] #432 closed

[2020-09-25 20:32] jcoliver commented on #430
Closing this for now, but please feel free to submit a pull request if time and resources afford.

[2020-09-25 20:32] #430 closed

[2020-09-25 20:32] jcoliver commented on #429
Closing this for now, but please feel free to submit a pull request if time and resources afford.

[2020-09-25 20:32] #429 closed

[2020-09-25 20:33] jcoliver commented on #428
Closing this for now, but please feel free to submit a pull request if time and resources afford.

[2020-09-25 20:33] #428 closed

[2020-09-25 20:33] jcoliver commented on #427
Closing this for now, but please feel free to submit a pull request if time and resources afford.

[2020-09-25 20:33] #427 closed

[2020-09-25 20:33] jcoliver commented on #425
Appears resolved.

[2020-09-25 20:33] #425 closed

[2020-09-25 20:34] jcoliver commented on #419
Resolved.

[2020-09-25 20:34] #419 closed

[2020-09-25 20:34] jcoliver commented on #414
Closing this for now, but please feel free to submit a pull request if time and resources afford.

[2020-09-25 20:34] #414 closed

[2020-09-25 20:35] jcoliver commented on #404
We are making significant revisions to episodes 4 and 5 given recent changes introduced by R 4.0. Please feel free to re-open if warranted.

[2020-09-25 20:35] #404 closed

[2020-09-25 20:35] jcoliver commented on #402
Closing this for now, but please feel free to submit a pull request if time and resources afford.

[2020-09-25 20:35] #402 closed

[2020-09-25 20:35] jcoliver commented on #397
Closing this for now, but please feel free to submit a pull request if time and resources afford.

[2020-09-25 20:35] #397 closed

[2020-09-25 20:36] jcoliver commented on #386
Closing this for now, but please feel free to submit a pull request if time and resources afford.

[2020-09-25 20:36] jcoliver commented on #386
Closing this for now, but please feel free to submit a pull request if time and resources afford.

[2020-09-25 20:36] #386 closed

[2020-09-25 20:36] jcoliver commented on #378
Closing this for now, but please feel free to submit a pull request if time and resources afford.

[2020-09-25 20:36] #378 closed

[2020-09-25 20:37] jcoliver commented on #373
Resolved by June 2019 release: https://github.com/swcarpentry/r-novice-gapminder/releases

[2020-09-25 20:37] #373 closed

[2020-09-25 20:38] jcoliver commented on #369
We are making significant revisions to episodes 4 and 5 in response to changes introduced by R 4.0. Please feel free to re-open as warranted.

[2020-09-25 20:38] #369 closed

[2020-09-25 20:39] jcoliver commented on #368
Challenge numbering problem resolved.

[2020-09-25 20:39] #368 closed

[2020-09-25 20:40] jcoliver commented on #365
Issue is largely addressed with alternative lesson plans provided in the [Instructor Notes](http://swcarpentry.github.io/r-novice-gapminder/guide/).

[2020-09-25 20:40] #365 closed

[2020-09-25 20:40] jcoliver commented on #356
We are making significant revisions to episodes 4 and 5 in response to changes introduced in R 4.0. Please feel free to re-open as warranted.

[2020-09-25 20:40] #356 closed

[2020-09-25 20:41] #355 closed

[2020-09-25 20:41] jcoliver commented on #350
http://swcarpentry.github.io/r-novice-gapminder/guide/

[2020-09-25 20:41] #350 closed

[2020-09-25 20:42] jcoliver commented on #342
This looks to be largely resolved, but please feel free to submmit a pull request as warranted.

[2020-09-25 20:42] #342 closed

[2020-09-25 20:43] jcoliver commented on #331
Closing this for now, but please feel free to submit a pull request if time and resources afford.

[2020-09-25 20:43] #331 closed

[2020-09-25 20:43] jcoliver commented on #329
Closing this for now, but please feel free to submit a pull request if time and resources afford.

[2020-09-25 20:43] #329 closed

[2020-09-25 20:44] jcoliver commented on #313
We are making significant revisions to episodes 4 and 5 in response to changes introduced by R 4.0. Please feel-free to re-open as necessary.

[2020-09-25 20:44] #313 closed

[2020-09-25 20:44] jcoliver commented on #302
Closing this for now, but please feel free to submit a pull request if time and resources afford.

[2020-09-25 20:44] #302 closed

[2020-09-25 20:45] jcoliver commented on #294
Closing this for now, but please feel free to submit a pull request if time and resources afford.

[2020-09-25 20:45] #294 closed

[2020-09-25 20:45] jcoliver commented on #280
Closing this for now, but please feel free to submit a pull request if time and resources afford.

[2020-09-25 20:45] #280 closed

[2020-10-14 09:35] stefpiatek commented on #660
I'd be happy to draft out a PR for this if you'd like?

[2020-10-14 17:03] jcoliver commented on #660
That would be great, @stefpiatek .

[2020-10-19 17:28] blongworth commented on #540
Is a functional programming lesson being worked on somewhere? I agree that this would be a great addition. I very much like the approach that R4DS takes to this: start from looping, move through *apply(), and finish with purrr.

[2020-10-19 17:48] jcoliver commented on #540
Not yet, @blongworth . We are working on the logistics of retiring the plyr lesson, but would be keen on a purrr replacement.

[2020-10-26 20:18] #660 closed

[2020-10-29 20:55] Ksurg opened #666 "instructions update: control flow in the R for reproducible scientific analysis lesson"
Hi,

In the lesson section on control flow
http://swcarpentry.github.io/r-novice-gapminder/07-control-flow/index.html

the following bold text should be updated:
R accepts both if() and **ifelse()** statements structured as outlined above, but also statements using R’s built-in ifelse() function. This function accepts both singular and vector inputs and is structured as follows:

This should be up

[2020-10-29 21:20] jcoliver commented on #666
Thanks, @Ksurg . Good point. Want to submit a PR with this change?

[2020-10-29 21:22] Ksurg commented on #666
Hi Jeff,

Yes, but I am new to this process: do you have a link handy for submitting pull requests? (I can have a hunt around if you don’t)

Kind regards,

Kari Clifford

From: Jeff Oliver <notifications@github.com>
Reply-To: swcarpentry/r-novice-gapminder <reply@reply.github.com>
Date: Friday, 30 October 2020 at 10:21 AM
To: swcarpentry/r-novice-gapminder <r-novice-gapminder@noreply.github.com>
C

[2020-10-29 21:24] jcoliver commented on #666
The contributing page has a section on submitting pull requests: [https://github.com/swcarpentry/r-novice-gapminder/blob/master/CONTRIBUTING.md#submitting-pull-requests](https://github.com/swcarpentry/r-novice-gapminder/blob/master/CONTRIBUTING.md#submitting-pull-requests).

[2020-10-29 21:25] Ksurg commented on #666
Cheers 😊

From: Jeff Oliver <notifications@github.com>
Reply-To: swcarpentry/r-novice-gapminder <reply@reply.github.com>
Date: Friday, 30 October 2020 at 10:24 AM
To: swcarpentry/r-novice-gapminder <r-novice-gapminder@noreply.github.com>
Cc: Kari Clifford <kari.clifford@otago.ac.nz>, Mention <mention@noreply.github.com>
Subject: Re: [swcarpentry/r-novice-gapminder] instructions update: control flo

[2020-10-29 22:57] jcoliver commented on #666
Addressed by #667

[2020-10-29 22:57] #666 closed

[2020-10-30 13:52] blongworth commented on #643
Is there a fork for the 4.0 updates? It's a good opportunity to explain factors and prepare learners for the kinds of issues they'll see with code that expects `stringsAsFactors = TRUE` and vice versa if they encounter an older version of R.

[2020-10-30 20:22] naupaka commented on #643
@blongworth not yet, but I'm hoping to make a push to get it going in the next week or two. I am planning to have a callout in that lesson explaining the issue and how R < 4 and R > 4 will behave differently.

[2020-11-05 20:55] jcoliver opened #669 "Update _config.yml so license link works"
The assignment of `cc_by_human` is included in bin/boilerplate/_config.yml, but not _config.yml. I think this is what causes the license links to be broken in the footer of rendered lesson pages.

In _config.yml:
workshop_repo: "https://github.com/carpentries/workshop-template"
workshop_site: "https://carpentries.github.io/workshop-template"

In bin/boilerplate/_config.yml:
workshop_repo: "https:/

[2020-11-06 05:54] fmichonneau commented on #669
This is a difficulty with our current setup. For the files included in the boilerplate folder, when they change in the styles repository, they need to be changed manually in the lessons. There is no easy way around this issue at the time. So for this particular issue, you need to copy the line manually from the _config.yml file in the boilerplate folder into your repository version of the _config.

[2020-11-06 18:56] jcoliver commented on #669
Will do. Thanks for the info, @fmichonneau .

[2020-11-06 22:51] jcoliver commented on #669
Addressed (for now) by #670

[2020-11-06 22:51] #669 closed

[2020-11-06 23:30] mlell commented on #540
While thinking about how to structure a possible lesson about `purrr`, the [new features of dplyr 1.0.0](https://www.tidyverse.org/blog/2020/06/dplyr-1-0-0/) kept crossing my mind. Most importantly,

* `rowwise()` is no longer discouraged, albeit it's use is not with `do()` anymore, but with ...
* `summarise()`, that also can handle tibbles and vectors > 1 as results.

At least for me, this elimin

[2020-11-09 16:35] jcoliver commented on #540
These are great points, @mlell . I think the place to start would be with a standard reverse instructional design: what do we want learners to be able to do at the end of the episode? We want to avoid teaching purrr for the sake of teaching purrr, so clearly defined learning objectives should guide the episode development process (as well as what data to use).

[2020-11-10 15:21] blongworth commented on #540
In keeping with focussing on lesson goals/concepts rather than tools, one approach would be to include functional programming in the lesson on looping and add some of the dplyr 1.0 functional stuff to the dplyr chapter.

It would also be useful to tie looping, functional programming, and dataframe operations together with a thread on "behind the scenes" looping across various lessons. It's debatab

[2020-11-10 19:21] jcoliver commented on #540
For functional programming lesson(s), the material at [https://github.com/dlab-berkeley/R-functional-programming](https://github.com/dlab-berkeley/R-functional-programming) provides some nice ideas (kudos to @kelseygonzalez for pointing out this resource).

[2020-11-27 09:11] PabRod opened #673 "Avoid the use of "Dataframe""
## Problem
Currently, both _"Data frame"_ and _"Dataframe"_ coexist in the text. This is particularly noticeable in [the schedule](http://swcarpentry.github.io/r-novice-gapminder/), where lesson 5 uses _"Data frame"_ and sections 13, 14 use _"Dataframe"_.

Due to the importance of Data frames in R, I suggest being consistent with its naming.

## Solution
According to the [R documentation](https://

[2020-11-30 12:11] PabRod opened #674 "Rename (or split) episode "Exploring Data Frames""
## Problem
Most of the episode [Exploring Data Frames](http://swcarpentry.github.io/r-novice-gapminder/05-data-structures-part2/index.html) actually deals with **manipulating** data frames rather than **exploring** them. This is clear already from the episode's overview, where only 1 of the 6 objectives is related to exploration.

## Solution
Please consider:

- Renaming the episode to "Manipulati

[2020-11-30 20:42] jcoliver commented on #673
Thanks, @PabRod . This is a good point - want to submit a PR for any of the episodes mentioned (5, 13, 14)?

[2020-12-01 09:42] PabRod commented on #673
Woops! The build [failed](https://github.com/swcarpentry/r-novice-gapminder/pull/675/checks?check_run_id=1478905326) in the remote server. This the first time I work with `.Rmd` lesson files.

I may need some help, @jcoliver.

[2020-12-01 09:55] tobyhodges commented on #673
Those errors aren't related to your changes, @PabRod [Looking at the build log](https://github.com/swcarpentry/r-novice-gapminder/pull/675/checks?check_run_id=1478905326), it seems to be mostly issues with syntax highlighting on code blocks elsewhere in the lesson. It shouldn't stop the pages from building after merge.

[2020-12-07 09:43] IanniMuliterno opened #677 "Present an alternative upload function"
Hello,

 I have a suggestion about the function used to upload the file. "read.csv" works well, but it would be good to present "fread", because all controls such as sep, colClasses and nrows are automatically detected. The function also deals large data well and has other advantages the user may need as they become advanced R users.

 Here is the link to a R-bloggers post cointaining a nice compa

[2020-12-07 17:22] jcoliver commented on #677
Thanks, @IanniMuliterno . I agree that `fread` is quite useful for large data sets. For the purposes of this introduction to the R language, keeping it simple is key. I could see `fread` being introduced in an intermediate level lesson, especially one which explicitly deals with large data sets.

[2020-12-07 17:22] #677 closed

[2020-12-10 19:12] #673 closed

[2021-01-06 22:47] jcoliver commented on #674
Thanks for the input, @PabRod . The term "Exploring" is used _sensu lato_, where learners explore functionality of data frames.

[2021-01-06 22:47] #674 closed

[2021-01-12 20:52] icrichmond opened #680 "Misplaced output in Episode 5 - Exploring Dataframes"
Hi there,

I am going through this lesson preparing for my teaching demo to become a Carpentries instructor. I am fairly certain that the warning message output in Episode 5 ([http://swcarpentry.github.io/r-novice-gapminder/05-data-structures-part2/index.html](http://swcarpentry.github.io/r-novice-gapminder/05-data-structures-part2/index.html)) is misplaced.

At the bottom of the first section "Ad

[2021-01-12 20:57] jcoliver commented on #680
Thanks for the feedback, @icrichmond . This is most likely caused by different behavior of `read.csv` between R version <4.0 and more recent versions. We are currently working on a fix; you can find more information about this in #633 .

[2021-01-12 20:57] #680 closed

[2021-01-12 23:47] jcoliver commented on #657
Addressed by #679

[2021-01-12 23:47] #657 closed

[2021-01-20 23:39] Me6me82 opened #682 "Lesson contribution – instructor checkout"
suggestion for The R for Reproducible Scientific Analysis  Lesson
- **Introduction to R and RStudio**
good to introduce another source for R Packages like Bioconductor and how to install Packages using BiocManager

- **Seeking Help**
It will help to add a link to RStudio Cheatsheets : https://rstudio.com/resources/cheatsheets/

[2021-01-21 19:43] jcoliver commented on #682
Thanks, @Me6me82 . The alternative package management is a bit advanced for the target audience of these lessons, but the cheetsheet link would be a nice addition.

[2021-01-29 18:20] #530 closed

[2021-02-03 23:15] #682 closed

[2021-02-03 23:16] jcoliver commented on #633
Stopgap PR in #684 for episodes 4 & 5, but longer term solution in the works.

[2021-02-08 19:29] sysilviakim opened #687 "Episode 14 tidyr: gap_wide_betterID"
Good afternoon! In line 36 of the `14-tidyr.Rmd`, it says
[code]
but considering lines 28 to 33, it should be simply
[code]
I think it would benefit from applying the styler package to the `gap_wide` code in general, as it seems inconsistent in spacing. Leaving here as an issue rather than a PR for future checkouts.

[2021-02-12 03:18] amzoss opened #688 "Episode 8 (ggplot2): reconcile text describing log10 transformation with plot"
In [Episode 8](http://swcarpentry.github.io/r-novice-gapminder/08-plot-ggplot2/index.html), the second figure under **Transformations and statistics** is described with the following text:

"The log10 function applied a transformation to the values of the gdpPercap column before rendering them on the plot, so that each multiple of 10 now only corresponds to an increase in 1 on the transformed scal

[2021-02-16 19:30] jcoliver commented on #688
Great idea, @amzoss !

[2021-02-16 19:35] jcoliver commented on #687
Indeed. The comment on line 36 of the RMarkdown file should indicate the object being saved is `gap_wide`, not `gap_wide_betterID`.

[2021-02-26 19:10] nung001 commented on #687
Hi @sysilviakim thanks for the opportunity and great catch. If it's alright I'd be happy to take this one. Going to make the change in the comments and see where the code could benefit from the some 'styler' aesthetic magic, i do see some inconsistencies that @sysilviakim had mentioned. I'll send a PR when done. @jcoliver do the carpentries have a preferred r style guide or is the default 'tidyver

[2021-03-03 16:52] jelletreep commented on #688
This seems indeed outdated, or at least `log10` in the explanation is not matching the `scale_x_log10` in the example and would be good to fix this.

I think the suggestion for improvement is great and very clear. Only the last sentence was a bit confusing for me and may be for people not familiar with all concepts, and the latter part of the sentence may be not necessary. My alternative suggestio

[2021-03-03 17:10] jcoliver commented on #688
Thanks for the input, @jelletreep . Care to submit a pull request?

[2021-03-04 18:05] jcoliver commented on #688
Addressed by #693

[2021-03-04 18:05] #688 closed

[2021-03-17 20:11] hfshr opened #701 "Include tinytex in hint for pdf output in knitr lesson?"
Hi!

Just a small suggestion as part of the checkout process... At the end of the [producing reports with knitr](https://swcarpentry.github.io/r-novice-gapminder/15-knitr-markdown/index.html) lesson, there is a tip pointing to some TeX installers that are needed for pdf output. I'm wondering if `tinytex` could maybe be mentioned here to provide an R-based solution to installing tex and any require

[2021-03-17 20:17] jcoliver commented on #701
Thanks for the suggestion, @hfshr . Want to submit a PR?

[2021-03-17 20:22] hfshr commented on #701
Hi @jcoliver, great! Yes happy to submit a PR :+1:

[2021-03-23 03:17] jcoliver commented on #701
Addressed by #704 .

[2021-03-23 03:17] #701 closed

[2021-03-23 03:18] jcoliver commented on #687
Addressed by #695 .

[2021-03-23 03:18] #687 closed

[2021-03-30 20:07] Alanocallaghan opened #705 "Use of stringsAsFactors/factors and wording re: factor/vector columns"
In reviewing this lesson I've noticed some oddities and some things that I consider incorrect.

First, stringsAsFactors is used a lot in code examples, but never explained. It's also set differently in different sections with no explanation why.

eg, here: https://github.com/swcarpentry/r-novice-gapminder/blob/2bc6a654f272359651dfaf28b464c9b2ae30c635/_episodes_rmd/04-data-structures-part1.Rmd#L61

[2021-04-14 13:09] northernjamie opened #709 "Minor typo in lesson 01 Intro to R and RStudio"
Line 63 of this .Rmd file: https://github.com/swcarpentry/r-novice-gapminder/blob/main/_episodes_rmd/01-rstudio-intro.Rmd contains the line `It provides a built in editor`, which should be `It provides a built-in editor` (note the hyphen).

<details>
<summary><strong>Instructions</strong></summary>

Thanks for contributing! :heart:

If this contribution is for instructor training, please email the

[2021-04-14 19:35] jcoliver commented on #709
Thanks, @northernjamie . Want to submit a pull request to fix this?

[2021-04-14 19:44] jcoliver commented on #705
Thanks for these suggestions, @Alanocallaghan . We are still working on the transition to R 4.0, where default `stringsAsFactors` value was changed in `read.csv()`. The current episodes are designed to be compatible with R < 4.0, which some attendees to Software Carpentry workshops may be using, but we agree there are opportunities for improvement. More discussions can be found in #633 .

[2021-04-14 19:44] #705 closed

[2021-04-14 20:59] Alanocallaghan commented on #705
I don't really get why the default changing affects any of the comments here but I'll take your word for it

[2021-04-15 00:11] jcoliver commented on #705
From OP: "stringsAsFactors is used a lot in code examples, but never explained. It's also set differently in different sections with no explanation why."

The current use of explicit values for `stringsAsFactors` in `read.csv()` ensures consistent behavior of `read.csv()` across versions of R. It was added as a temporary fix due to (1) the change in R 4.0 and (2) the reliance on a default `strings

[2021-04-15 00:15] #709 closed

[2021-04-15 00:19] Alanocallaghan opened #711 "dataframe discussion is not really correct"
https://github.com/swcarpentry/r-novice-gapminder/blob/2bc6a654f272359651dfaf28b464c9b2ae30c635/_episodes_rmd/04-data-structures-part1.Rmd#L156-L164

This isn't correct. A data.frame column can be a list of arbitrary objects.
[code]

Also here:
https://github.com/swcarpentry/r-novice-gapminder/blob/2bc6a654f272359651dfaf28b464c9b2ae30c635/_episodes_rmd/04-data-structures-part1.Rmd#L237-L238

R isn

[2021-04-15 00:23] Alanocallaghan commented on #705
Fair enough, #711.

My primary point here is not "don't set stringsAsFactors" but "don't set an argument to different things in different places in the lesson without explaining it"

I also still think that wording about factors being essential etc is probably not good to include as reflected by the decision to change the default.

I can see that changing the lesson to get around this altogether i

[2021-04-15 17:38] jcoliver commented on #711
Thanks, @Alanocallaghan !

[2021-04-15 17:39] jcoliver commented on #705
And if you're keen to help out with the revision of Episodes 4 & 5, dealing with `read.csv()` behavior, please be sure to reach out to @naupaka , who is leading the effort.

[2021-04-17 10:17] StoianAndrei commented on #540
Hello everyone, I am new to the Carpentry community, and from what I have seen so far, I love it. Thank you. Now I would like as a check-out to give purrr a go tonight and tomorrow. I believe that purrr is a must as most of the things in life come in lists. I took down the repo and would try and see how to incorporate some Jenny C lego lessons into it. Or what do you think of Hadley's pepper jar e

[2021-04-19 18:05] blongworth commented on #540
Hi Andrei, I'm partial to the pepper jar, but Jenny's stuff is great too. I really like the way that the purrr chapter in R4DS starts with iteration using loops and builds from there. Especially for novices, this would be a good way to segue into mapping functions, and I think the lesson that it's OK to use for loops is an important one that's sometimes lost with R. If you're working in a fork and

[2021-04-19 20:16] StoianAndrei commented on #540
@blongworth Thank you. Yes I took a fork over to my account and now trying to see how to introduce functional programing so that then we use your_list <- purrr::map(.x = list_of_items, .f = ~your_function_that_is_to_be_applied_to_the_list_of_items( items_to_apply_on = .x ). This combined with other things like nesting and such will make your head hurt but once grasped your work is so much more org

[2021-04-22 21:38] abanihas opened #712 "13-dplyr: Header needs correction"
Link: https://swcarpentry.github.io/r-novice-gapminder/13-dplyr/index.html

Please change the header "Using group_by() and summarize()" to "Using group_by()" as "summarize()" is not used in this section. The following section covers "summarize()" and has the appropriate heading.

[2021-04-22 21:45] jcoliver commented on #712
Thanks @abanihas . Want to submit a PR?

[2021-04-27 02:55] ammaraziz commented on #603
I'd like to self-assign this issue if it's acceptable. I also noticed `%in%` is not mentioned in the `reference` page:
https://swcarpentry.github.io/r-novice-gapminder/reference.html

So I might submit this as well during the PR.

Thanks,

Ammar

[2021-05-05 22:29] jcoliver commented on #712
Addressed by #715 .

[2021-05-05 22:29] #712 closed

[2021-05-21 21:29] sraorao opened #716 "Native pipe vs dplyr/magrittr pipe"
From R v4.1.0, there is a pipe `|>` natively available in base R. Could this be a source of confusion when discussing the dplyr/magrittr pipe `%>%` here: http://swcarpentry.github.io/r-novice-gapminder/13-dplyr/index.html ? At present they seem to be different enough in important ways that they can't be used interchangeably.

[2021-05-21 21:57] jcoliver commented on #716
Thanks @sraorao . I do not think we need to immediately discuss the differences (although an Optional box acknowledging the native R pipe could be warranted). As the native pipe does not appear to be widely used (yet), restricting the discussion to magrittr's pipe seems fine for now. If `|>` becomes widely adopted, we will need to address it head-on.

[2021-05-23 18:07] sraorao commented on #716
Hi @jcoliver , yes that makes sense as it's still early days with the native pipe. An Optional box could be useful though.

[2021-05-31 20:53] agboch opened #717 "The origin of feline-data_v2.csv not specified"
In Data Structures -> Data Types section of the lesson (https://swcarpentry.github.io/r-novice-gapminder/04-data-structures-part1/index.html), right before the feline-data_v2.csv is loaded, it says in the instructions: "A user has added details of another cat. This information is in the file data/feline-data_v2.csv." It is unclear whether it should be the instructor that should add these details a

[2021-05-31 22:32] shu251 commented on #711
I have a suggested re-write of this to help offer an explanation of what has happened and to define data frames in another way:

[code]

What happened here?
The cats data we are working with is something called a _data frame_ and data frames are one of the most common and versatile types of _data structures_ we will work with in R. In this example, the columns that make up a data frame cannot be c

[2021-06-01 19:09] jcoliver commented on #711
Thanks, @shu251 . This is a nice addition, want to submit a PR?

[2021-06-01 19:16] jcoliver commented on #717
Good point, @agboch . This is something the instructor would need to setup before hand; including information in the Instructor Notes (https://github.com/swcarpentry/r-novice-gapminder/blob/main/_extras/guide.md) would be appropriate to address this issue. I think there might be long-term revisions to the lesson that make feline-data_v2.csv obsolete, but those are still a little ways off.

[2021-06-02 13:54] shu251 commented on #711
https://github.com/swcarpentry/r-novice-gapminder/pull/718

[2021-06-04 18:47] jcoliver commented on #711
This clarification provided in #718 closure, as the description does appear correct. While a column can be a `list` of arbitrarily-typed elements, every cell within a column of type `list` is also of type `list`:

[code]

Lest we attempt diving into vagaries of `[[` vs `[`, I think we can consider this addressed.

[2021-06-04 18:47] #711 closed

[2021-06-06 02:36] InFlamUOB opened #719 "Could be interesting to mention the "tidyverse""
Given the chapters on ggplot, dplyr, tidyr... - it could be nice to mention the whole tidyverse universe too - maybe by including just a link in the seeking help chapter e.g "https://www.tidyverse.org" or before teaching ggplot or after tidyr. Knowing that there is a whole universe of as useful packages can be very nice to see and also is a good resource to learn more about those chapters.

[2021-06-06 04:16] naupaka commented on #719
I agree -- perhaps this is best done as a callout box just as a reminder for the instructor to mention it.

[2021-06-07 10:51] worcjamessmith commented on #717
I also came across this problem. Additionally (and unsure if this should be a new issue or the same one), when I try to create the data to look like the data shown in the lesson, I get a different error when trying to operate on the weight column:

[code]
Is this is a problem with my set up or with the episode content?

[2021-06-07 19:29] jcoliver commented on #717
Thanks, @worcjamessmith . The behavior is different because it looks like you did something different - the example in the episode reads the data in from a file, setting `stringsAsFactors = TRUE`, resulting in the `weight` column being read in as a factor. In the example you present above, the `weight` column is typed as a string. I suspect if you try to replicate the episode (reading the data fro

[2021-06-07 19:45] worcjamessmith opened #721 "Remove dot from facet_grid() function call?"
This issue is about the writing data episode (https://swcarpentry.github.io/r-novice-gapminder/11-writing-data/index.html)

Challenge 1 has this code `p + facet_grid(. ~continent)`. However, `p + facet_grid(~continent)` is sufficient and doesn't require any further explanation beyond what has been used in previous episodes when introducing ggplot (i.e. of the dot). Possibly better to use the simpl

[2021-06-07 20:06] jcoliver commented on #721
Good point, @worcjamessmith, especially since episode 14 (dplyr) also skips the use of the dot. Want to submit a PR?

[2021-06-08 00:05] jcoliver commented on #721
Addressed by #722

[2021-06-08 00:05] #721 closed

[2021-06-18 19:18] NadineBestard commented on #717
I also noticed this v2 feline that did not match with the rest of the lesson. I presonally edited the first file manually in front of the students, as later it says "For now let's remove the extra line and reload it" and I thought that was making reference to the file. However, I don't think this is the best way, as the students also tried to edit the file and reload and then edit back like before

[2021-06-18 19:29] NadineBestard opened #723 "13-dplyr: with ggplot2 "here is the code we used". did we?"
In the lesson 13, dplyr. in the "Combining dplyr and ggplot2" section there is an example code of a ggplot2 with the countries that start with A and Z. It says "Here is the code we used  [in the plotting leson] (with some extra comments)". However, I do not see this plot in the ggplot2 lesson.

Is this from an autdated version? I guess it would be good to update this lesson too if this is the case

[2021-06-22 16:22] jcoliver commented on #723
Good catch, @NadineBestard . This does look like a relic from earlier versions. It may be best to update the corresponding portion of the dplyr lesosn with the subsetting to "Americas" as seen in the ggplot lesson under [Multi-panel figures](http://swcarpentry.github.io/r-novice-gapminder/08-plot-ggplot2/index.html#multi-panel-figures).

[2021-06-25 05:59] FarahZahir opened #725 "Lesson Contribution: R for Reproducible Scientific Analysis"
As part of my checkout process, I would like to make contributions to "R for Reproducible Scientific Analysis". I have made suggestions for three episodes: Introduction to R and R Studio, Creating Publication-Quality Graphics with ggplot2 AND Producing Reports with knitr.

**Episode 1: Introduction to R and RStudio**

#1 Under "Work flow within RStudio" ->" Tips for running segments of your code",

[2021-07-02 22:53] jcoliver commented on #723
Addressed by #727

[2021-07-02 22:53] #723 closed

[2021-07-12 18:27] brshallo opened #730 "Keep alpha in later plots in section 8"
In [Section 8, Creating Publication-Quality Graphics with ggplot2](http://swcarpentry.github.io/r-novice-gapminder/08-plot-ggplot2/index.html), the two charts after the `alpha` argument is introduced should also have the `alpha` value set on them.

I.e. after this example
[code]

The code for the next two charts should be changed to:

[code]

and

[code]

This would support the feeling of continui

[2021-07-12 23:20] jcoliver commented on #730
Good point, @brshallo . And considering the discussion at #126 , building up to the example one piece at a time is a good idea. e.g. each step is

Base plot
[code]

Add transparency
[code]

Plot x-axis on log scale
[code]

Add a linear regression line
[code]

Change the size of the linear regression line
[code]

[2021-08-07 09:46] mlell opened #733 "New version of carpentry/styles should be merged to fix build error due to non-writable directory provided to install.packages()"
Hello,

currently, running `make serve` fails if dependencies must be installed and the R system library is not writable. This is due to line 3 in https://github.com/swcarpentry/r-novice-gapminder/blob/e27ab02afea308c29f15675f38904bab7b90b810/bin/dependencies.R#L1-L5

which forwards the whole contents of .libPaths() to `install.packages(lib=)` if `install_required_packages( lib=NULL,....)`. But `i

[2021-08-09 18:30] christinemurr opened #734 "Links and web accessibility"
The links on the [Setup page](http://swcarpentry.github.io/r-novice-gapminder/setup.html) could be improved to meet web accessibility standards. People using screen readers may navigate a page by links, so the link descriptions should be meaningful, and "here" should be avoided. (See [WebAIM: Links and Hypertext](https://webaim.org/techniques/hypertext/#screen_readers).)

For example, the line "Th

[2021-08-09 19:07] jcoliver commented on #734
Good point, @christinemurr . Want to submit a PR to address this?

[2021-08-09 19:10] jcoliver commented on #733
Thanks, @mlell . Thoughts, @fmichonneau ?

[2021-08-10 10:55] fmichonneau commented on #733
I opened the pull request #735 to bring these latest changes.

[2021-08-10 15:20] #733 closed

[2021-08-13 15:44] christinemurr commented on #734
I'm working on it, but...the CONTRIBUTING.md file says "Please only include
.Rmd files in pull requests," but I only see setup.md, no setup.Rmd. Am I
missing something, or is it okay to commit changes to setup.md?

On Mon, Aug 9, 2021 at 3:07 PM Jeff Oliver ***@***.***> wrote:

[2021-08-13 16:04] jcoliver commented on #734
Ah, sorry for the confusion. The information in the contributing document is referring to episodes, but since setup.md is not an episode, you should edit setup.md directly.

[2021-08-17 22:37] mlell commented on #633
This is a proposed solution, among other things: #737

[2021-08-18 07:42] andr3wli opened #738 "Make the difference between install and library more obvious"
Hello SWC community, I would like to propose a change for the [Introduction to R and Rstudio](http://swcarpentry.github.io/r-novice-gapminder/01-rstudio-intro/index.html) episode, specifically for the [R packages](http://swcarpentry.github.io/r-novice-gapminder/01-rstudio-intro/index.html#r-packages) section. I think there should be a greater emphasis on the difference between installing a package

[2021-08-18 16:22] jcoliver commented on #738
The example of installing a light bulb vs. turning the light on seems quite accessible. If you're keen to submit a PR, we would be happy to take a look. Thanks, @andr3wli !

[2021-08-26 15:02] josschavezf opened #740 "Add the general structure of a function"
Hi!

In the episode "Functions Explained" under the section "Defining a function", I propose to add the general or basic structure of a function before start creating a new one. As a beginner, this was useful for me. For example:

my_function <- function(parameters) {
    # function_body
}

Thanks! :heart:

[2021-09-15 20:56] gtitcomb opened #741 "Subsetting data episode: dropping levels of a factor"
In this episode, participants are shown various examples of subsetting a factor in the "Factor subsetting" section.
One of the last comments is "Skipping elements will not remove the level even if no more of that category exists in the factor:"
`f[-3]`
I felt that this comment begs the question: How do we drop the levels of a factor?
Perhaps a line of code stating that levels can be dropped using:

[2021-09-18 08:15] K-C-Martin opened #742 "Introduce the geom_line() function first, then add the 'by' aesthetic afterwards"
Teaching ggplot2 (live coding) for my Instructor demo, I found it a little awkward to demonstrate the difference between geom_point and geom_line while having to simultaneously add in the 'by' aesthetic - I found it smoother to first switch from geom_point to geom_line, then introduce the 'by' aesthetic as a second step.

See https://swcarpentry.github.io/r-novice-gapminder/08-plot-ggplot2/index.h

[2021-09-28 22:10] jcoliver commented on #742
Addressed in #743

[2021-09-28 22:10] #742 closed

[2021-09-29 03:19] marklcrowe opened #746 "Major HTML rendering errors in multiple episodes"
Hi, there is something causing major rendering errors in the episode 13 markdown file. I think it might be a rogue space in line 151 (between > and ```) but I'm not sure. Whatever it is, it's making that page largely unusable - please can you see if you can track down what it might be? Thanks

[2021-09-29 05:03] marklcrowe commented on #746
Also looks like a similar bug has affected episodes 1, 6, and 7. In all cases, it's something within the formatting code for the challenges that's causing the problem.

[2021-09-29 07:39] #746 closed

[2021-09-29 14:15] zkamvar commented on #746
For full clarification: this happened because [knitr 1.35 introduced a new rule where the opening and closing code fences must have the same indentation](https://github.com/yihui/knitr/releases/tag/v1.35). This was introduced to [allow for code with backtics to be included in knitr chunks](https://github.com/yihui/knitr/issues/1621).

The behavior is now [downgraded to a warning in knitr 1.36](htt

[2021-09-29 19:44] jcoliver commented on #741
Thanks, @gtitcomb . A brief point about the functionality of `droplevels()` might be most appropriate as a Tip immediately following the `f[-3]` output.

[2021-10-12 12:33] linajandren opened #749 "Challenge 4 part of solution for challenge 3"
<details>
<summary><strong>Challenge 4 (instructions and solution) has mistakenly become part of the solution of challenge 3</strong></summary>

Challenge 4 is not listed on the page until I "fold out" the solution for challenge 3. It's there, but formatted as code.
I'm not sure what the problem is but I suspect it has to do with ending the code block in the solution for challenge 3.
</details>

[2021-10-12 12:37] linajandren commented on #749
Oh, I'm so sorry. This issue is for the episode Introduction to R and RStudio.

[2021-10-12 23:36] #749 closed, assigned to nobody

[2021-10-27 20:14] gabrielesh opened #752 "R Markdown lesson's http link example causes failure to knit"
[Lesson 15, Producing Reports With knitr](https://swcarpentry.github.io/r-novice-gapminder/15-knitr-markdown/index.html), includes the following text:

You can make a hyperlink like this: `[text to show](http://the-web-page.com)`
You can include an image file like this: `![caption](http://url/for/file)`
and
`r round(some_value,2)`

When the RMarkdown file knits, it looks for the link and the file

[2021-10-27 20:28] ekrasch opened #753 "Consider adding Rmd Visual Editor to lesson 15"
The lesson on [knitr using Rmarkdown](https://swcarpentry.github.io/r-novice-gapminder/15-knitr-markdown/index.html) currently does not mention or utilize the visual markdown editor. Consider adding a short note about this tool at the end of the lesson.

Consider also mentioning the gear icon in the code chunk menu as a way to edit chunk options.

[2021-11-01 02:18] Penny-Han opened #754 "Updating objective"
As part of my checkout process, I would like to make contribution to "R for Reproducible Scientific Analysis"

The final objective in "Creating Publication-Quality Graphics with ggplot2" says "To save a plot created with ggplot to disk"

The terminology seems out of date and no longer in line with the lesson itself.

It maybe more appropriate to update it to something such as "To export a plot cre

[2021-11-01 16:10] jcoliver commented on #754
Thanks, @Penny-Han . While the term "export" _is_ used in the heading for the section, the body of this section still uses "save" terminology. For now I think we can stick with "save" in the learning objectives, as that term may be more accessible for novice learners than "export."

[2021-11-01 16:10] #754 closed

[2021-11-01 22:02] melanieleung opened #755 "suggestion to include changing/printing working directory"
for many workshop participants, this is their first time loading data into R, so it would be helpful to include in one of the first episodes how to print the working directory, and change it to a specific folder

[2021-11-01 22:10] jcoliver commented on #755
Thanks, @melanieleung . See also discussions in #276 and #332

[2021-11-15 18:50] bdezray opened #758 "Suggestions for Introduction to R and RStudio - Work Flow within RStudio"
The space between Work and flow in the title of the [Work flow within RStudio](https://swcarpentry.github.io/r-novice-gapminder/01-rstudio-intro/index.html#work-flow-within-rstudio) chunk should be removed as workflow is a single word.

Also, in this same section, reference to a .R file occurs without explanation that this is reflective of the R scripts described above. This could potentially be f

[2021-11-16 19:46] jcoliver commented on #758
Thanks, @bdezray . The change to "workflow" would be a fairly straightforward fix - want to submit a PR?

For a more explicit introduction to the .R file, I think adding another line, explaining that R scripts have the .R file extension would be sufficient. This could immediately follow "Once you open files, such as R scripts, an editor panel will also open in the top left."

[2021-11-22 17:55] mlell commented on #540
@blongworth @StoianAndrei  I just saw this R lesson in the making which takes a dplyr-first approach and also introduces purrr.

[2021-11-24 20:38] StoianAndrei commented on #540
Good morning all, that lesson look so good. I did submit a lesson some time ago and it must have gotten lost. I never did follow up from there. (https://carpentries-incubator.github.io/open-science-with-r/07-making-functions-r/index.html) But this one it does it justice. It is so good. I just followed how the plyr lesson was built. I can give you a copy. Let me know if you want to follow up. Thank

[2021-12-06 18:04] crschul commented on #719
At a workshop I helped with we had a couple of cheatsheets floating around and provided participants with this link to print their own: https://www.rstudio.com/resources/cheatsheets/

[2021-12-06 18:22] crschul commented on #725
Using this issue to make my own suggestion for the checkout process:

1. In Challenge 5 of Episode 8: Creating Publication-Quality Graphics with ggplot2 students are using theme() to edit axis information. This is often an important step when making figures for publication. Along the same lines I suggest we also ask students to turn the background from grey to white.

ggplot(data = gapminder, mapp

[2021-12-07 22:51] jcoliver commented on #725
Thank you for this contribution. This is probably a bit much to add to challenge 5, which is already asking learners to do two new things. It might be useful though, to introduce the built-in themes, such as `theme_bw()` or `theme_minimal()` that create plots with a white background. This would probably need to be a separate challenge.

The link to the cheat sheet resources would be great to inclu

[2021-12-07 22:52] jcoliver commented on #719
@crschul Indeed. A link to the RStudio page of cheat sheets would be a welcome addition to the ggplot lesson.

[2021-12-10 03:53] frank0434 commented on #755
Hi there, not sure if you have seen [this post](https://www.tidyverse.org/blog/2017/12/workflow-vs-script/) from Jennifer Bryan.
It is titled _Project-oriented workflow_.
I am aware that this concept might add too much to the participant.
But since this is part of "R for Reproducible Scientific Analysis", wondering if it is better to show participants the reproducible way from the start?

There is

[2021-12-10 04:08] frank0434 commented on #753
Personally, I have a mixed feeling about using the visual markdown editor.
I've used it a couple of times since it is realised.
The visual editor does offer this nice rendering for `Rmd` documents.
But it may take a long time to load if `Rmd` file gets very large.

I agree with @jcoliver that using this feature might be a stretch.
However, I reckon it could be part of the [Introduction to Open Dat

[2021-12-13 21:49] naupaka commented on #753
I in general agree with the mixed feelings about this, but I think a short tip at the end of the lesson might be a good addition.

[2021-12-13 21:53] naupaka commented on #755
I think we want to advocate for the use of R project files as opposed to `setwd()`. Setting the working directory in code is very brittle. I think the `here` package is great, but perhaps a little out of scope for the lesson.

However, I do think the *concept* of working directories is important to address. This is often also discussed in the bash lessons in a typical SWC workshop.

[2021-12-14 16:51] #752 closed

[2021-12-23 01:32] mdozmorov commented on #716
There is an awesome summary of the new pipe operator, by Aedin Culhane @aedin [Tweet](https://twitter.com/AedinCulhane/status/1398007351387508736?s=20). Would be ideal for a box-like summary.
[code]
The latter looks like a limitation, so I keep using the good old `%>%`.

More details at [Some of the updates and additions in R-4.1.0](https://hackmd.io/Fm8OhgvxTyKTWm1xTLN1-g?view#New-Syntax). And, m

[2022-01-04 15:48] tiagojp commented on #725
As part of my checkout process, I would like to make contributions to "R for Reproducible Scientific Analysis". I have made suggestions for Creating Publication-Quality Graphics with ggplot2, specifically changed font/size of axis title to differentiate better from axis text.

In addition, I have a made a suggestion to plot country abbreviations (i.e., iso3c) instead country names, thus the names

[2022-01-06 22:58] jcoliver commented on #755
Addressed in #761

[2022-01-06 22:58] #755 closed

[2022-01-06 23:17] jcoliver commented on #725
Thank you, @tiagojp for this contribution. While the addition of the ISO country code labels is a useful means of accommodating long country names, it would be a bit much to add on to the lesson at this point. We appreciate you taking the time to provide this example.

[2022-01-06 23:17] #725 closed

[2022-01-14 15:55] ahfitzpa opened #767 "Suggestion: 02-project-intro.Rmd"
<Include ProjectTemplate package>
<summary><strong>ProjectTemplate is relevant in this episode</strong></summary>

The ProjectTemplate package in R is very useful and is introduced in 16-wrap-up.Rmd. However, in order to introduce to students to good software practices and increase their familiarity with how data should be stored it would be good to include it from the start of the lesson. Instead

[2022-01-16 15:05] mlell opened #768 "Remove tip about symlinking"
In Lesson 2 [they say](https://github.com/swcarpentry/r-novice-gapminder/blob/68b3c2ec6e981aa11e034aa6d9ba11937249ca1e/_episodes_rmd/02-project-intro.Rmd#L144-L157):

I consider this a recipe for desaster and ask myself if you see it the same way:

1. Symbolic links are a complicated matter on Windows. They can only be created if you have the corresponding user capability (e.g. if you are admin) o

[2022-01-18 19:37] jcoliver commented on #768
While Tips are generally optional, I agree that this has the potential to cause more headaches than it is worth.

[2022-01-18 19:48] jcoliver commented on #767
Thanks for this, @ahfitzpa . ProjectTemplate can be useful, but for novices, we'd prefer to show how they can create folders without the need for additional libraries.

[2022-01-18 19:48] #767 closed

[2022-02-28 18:05] jcoliver commented on #768
Addressed by #772

[2022-02-28 18:05] #768 closed

[2022-03-11 03:19] lhami commented on #734
Looks like this was resolved in ecd0d398d71a87ca6f235814ff88e9edf2f03b3d
I think this should be marked as resolved.

[2022-03-11 15:48] jcoliver commented on #734
Thanks, @lhami!  Addressed in #736.

[2022-03-11 15:48] #734 closed

[2022-03-11 18:20] HWilliams-PHE opened #773 "Introduction to R and RStudio - introduction to functions"
In the [Introduction to R and RStudio episode](https://swcarpentry.github.io/r-novice-gapminder/01-rstudio-intro/index.html), mathematical functions are introduced. The [Seeking Help episode](https://swcarpentry.github.io/r-novice-gapminder/03-seeking-help/index.html) talks about function help files. The next use of a function is then calling `data.frame` and `write.csv` at the beginning of the
[D

[2022-03-25 23:53] ozlemtuncel opened #776 "Suggestion for Introduction to R and RStudio - Using R as a Calculator"
The [Introduction to R and RStudio](https://swcarpentry.github.io/r-novice-gapminder/01-rstudio-intro/index.html) of [R for Reproducible Scientific Analysis](https://swcarpentry.github.io/r-novice-gapminder/) introduces arithmetic calculations as the simplest way to use R. I think the section [Using R as a Calculator](https://swcarpentry.github.io/r-novice-gapminder/01-rstudio-intro/index.html#usi

[2022-03-30 05:53] Talishask opened #777 "Lesson Contribution - return function"
I'm a member of The Carpentries Core Team and I'm submitting this issue on behalf of another member of the community. In most cases, I won't be able to follow up or provide more details other than what I'm providing below.

---

In this lesson (https://swcarpentry.github.io/r-novice-gapminder/10-functions/index.html), there is a mention of the return function. I think that more information can be

[2022-03-30 23:12] jcoliver commented on #776
Thanks for these suggestions, @ozlemtuncel . I wonder, where _does_ the lesson explain the indexing :thinking: ? For the second point, users in a Software Carpentry workshop _should_ have already seen bash in use, given the structure of a SC workshop, so I don't think we should drop the mention of bash (it's an opportunity for reinforcement). Your suggestion with the language "For those who have u

[2022-03-30 23:14] jcoliver commented on #773
Thanks, @HWilliams-PHE ! Want to open a PR with this change?

[2022-04-08 11:37] fuckurs opened #778 "$ cat ~/.ssh/id_rsa.pu"

[2022-04-08 12:43] fuckurs commented on #778
![Screenshot_20220408-062316.png](https://user-images.githubusercontent.com/97814333/162437845-a98e53ff-fa76-4691-a10b-2c24cacac36d.png)

[2022-04-08 13:59] #778 closed

[2022-05-03 10:23] andrewthomasjones opened #780 "Suggestion: 16-wrap-up.Rmd + email for checkout different across different pages"
In Episode 16 'Writing Good Software' it is suggested that the learner makes sure they test their functions. This is a very good advice, but I'm wondering if they would know what testing their code really means at this point or how they should go about writing a good reproducible test.  Perhaps this is too much for the episode. Maybe there could be a link to another lesson or a guide to writing te

[2022-05-18 13:37] marioa opened #782 "Suggestion of changing the "don't grow your results" example"
In:

* https://swcarpentry.github.io/r-novice-gapminder/07-control-flow/index.html

You have:

[code]

But then the improved example you provide is different:

[code]

I think it would be much better if it was closer to the original example, e.g.

[code]
To reduce the cognitive load of beginners. You could even show that the better example is quicker, e.g.
[code]

[2022-05-24 22:46] raymondben opened #783 "Setup should suggest installing git?"
Perhaps I have missed something, but the setup instructions (https://github.com/swcarpentry/r-novice-gapminder/blob/main/setup.md) do not seem to mention installing Git. On Windows, that means that the RStudio terminal will use the Windows command prompt, which does not have `ls` or `wc` available (and these commands are used in e.g. [Challenge 4 of project intro](https://github.com/swcarpentry/r-

[2022-05-26 17:38] Talishask opened #784 "Lesson Contribution - Grammatical Update"
I'm a member of The Carpentries Core Team and I'm submitting this issue on behalf of another member of the community. In most cases, I won't be able to follow up or provide more details other than what I'm providing below.

---

I noticed an error in Episode 2 of the R for Reproducible Scientific Analysis as shown in the screenshot below.

Under the "?dput", you will see "Will dump the data you're

[2022-06-03 15:15] jcoliver commented on #776
I think the two things that could be addressed are:

1. Add a parenthetical note in the lesson indicating that indexing will be discussed in Subsetting Data (episode 6), with a link to the episode.
2. Update the language around bash as suggested in OP point 2, above.

[2022-06-03 17:56] lorisloane opened #786 "Suggestion for adding image examples for teaching hybrid lessons. In the Gapminder lesson for R, under the Control Flow, I have drawn on a whiteboard (in person) how a For Loop works. It would be awesome to have an image to share with those on zoom who can't seen the whiteboard drawings."
<details>
<summary><strong>Instructions</strong></summary>

Thanks for contributing! :heart:

If this contribution is for instructor training, please email the link to this contribution to
checkout@carpentries.org so we can record your progress. You've completed your contribution
step for instructor checkout by submitting this contribution!

If this issue is about a specific episode within a lesso

[2022-07-05 02:18] fontikar commented on #773
Hi @jcoliver and @HWilliams-PHE, I recently went through the material for [R for Reproducible Scientific Analyses](https://swcarpentry.github.io/r-novice-gapminder/) to study for my teaching demo and shared similar thoughts with @HWilliams-PHE.

I agree the leap from [Seeking help ](https://swcarpentry.github.io/r-novice-gapminder/03-seeking-help/index.html)to [Data Structures](https://swcarpentry

[2022-07-05 04:56] fontikar commented on #773
All done @jcoliver! Thanks for your suggestions @HWilliams-PHE! I will submit a PR now! Hope it helps The Carpentries Community :)

[2022-07-06 05:49] sndaba opened #882 "Suggestion - Print Statement after Data Frame Manipulation functions"
Hi

I noticed that the functions used in the Data Frame Manipulation with Dplyr episode https://swcarpentry.github.io/r-novice-gapminder/13-dplyr/index.html do not have a _print ( ) statement_ for the output of the dplyr functions.

I suggest adding the print statement for every Dplyr function for learners to follow the different outputs every function creates.
For example,  the following function

[2022-07-12 13:42] chizapoth opened #789 "Suggestion: vectorisation with unequal length vectors"
This suggestion is related to the following episode:
https://swcarpentry.github.io/r-novice-gapminder/09-vectorization/index.html

In the current version of this chapter, vector addition/multiplication is only for
- vector with a single value (scalar)
- vector with another vector of the same length

Might be useful to include an example of addition with unequal length vectors, so that the users ca

[2022-07-18 00:47] matthieu-bruneaux commented on #789
Thank you for your suggestion @andreaczhang! This looks like a good point to tell new R users about. In my experience, "silent" recycling of vector values (rather than always throwing a warning or an error) can sometimes surprise people who are new to R.

Maybe this point could be addressed in a concise "Tip" box towards the end of the lesson? For example, one could present both a case throwing a

[2022-07-21 02:55] #784 closed

[2022-07-21 02:58] matthieu-bruneaux commented on #784
Thank you @Talishask and @melibleq!

[2022-07-26 13:38] mjcasy opened #790 "Functions Explained: Briefly Mention Packages"
Referring to episode : https://github.com/swcarpentry/r-novice-gapminder/blob/main/_episodes_rmd/10-functions.Rmd

Should we mention very briefly at the end that R packages are broadly just collections of functions like this?  E.g. in "Tip: Testing and documenting" after mentioning roxygen2

Packages are, in essence, bundles of functions with this formal documentation. Loading your own functions t

[2022-07-30 15:46] matthieu-bruneaux commented on #773
This was addressed by #787.

Thank you @HWilliams-PHE and @fontikar for your valuable help with this lesson!

[2022-07-30 15:46] #773 closed

[2022-07-30 16:05] matthieu-bruneaux commented on #790
Thank you for your suggestion @mjcasy! This looks like a good idea to me.

Would you like to open a pull request with this change?

[2022-07-30 16:42] matthieu-bruneaux commented on #786
Thank you for your suggestion @lorisloane. Adding one or several figures to support the content of this lesson could indeed be very helpful to the learners.

I am not sure what is the best way to discuss figures for the lessons: maybe @naupaka or @skanwal would have some good advice about this? Are pull requests a good way of discussing and reviewing graphical material or are other approaches reco

[2022-08-01 00:44] skanwal commented on #786
Hi @matthieu-bruneaux and @lorisloane

Thanks for initiating the discussion.

Yes, PR is indeed the right way to go for this. Concept for "Control flow" can indeed be better supported using a graphical image. It's worth adding if there doesn't exist one already.

[2022-08-02 20:48] matthieu-bruneaux commented on #786
Thank you very much for your advice @skanwal!

@lorisloane, would you like to submit a pull request with an image to illustrate this concept? Please don't hesitate to let us know if we can help in any way :)

It might also be the case that a relevant image already exists in another of the Carpentries lessons, in which case an option could be to re-use it for this lesson too.

[2022-08-02 21:14] lorisloane commented on #786
Greetings,

I’m not sure what a “pull request” is.  Where do I find out more?

This is the type of diagram that I’m referring too:
***@***.***
Image from:  https://www.codingem.com/flowchart-loop/

-lori

From: Matthieu Bruneaux ***@***.***>
Sent: Tuesday, August 2, 2022 2:49 PM
To: swcarpentry/r-novice-gapminder ***@***.***>
Cc: Lori D Sloane ***@***.***>; Mention ***@***.***>
Subject: Re: [swcar

[2022-08-02 21:57] matthieu-bruneaux commented on #786
Hi @lorisloane!

Thank you for the link to the diagrams you had in mind, this is very helpful.

On GitHub, a "pull request" is when someone who wants to contribute to a Git repository has made a personal copy of this repository (a "fork"), then has made some changes to their copy (they saved some "commits"), and finally they ask the maintainers of the original repository to merge their changes int

[2022-08-05 13:14] ndporter opened #792 "Update episode 01 screenshots to show R version 4"
The screenshots of the RStudio environment in [Episode 1](https://swcarpentry.github.io/r-novice-gapminder/01-rstudio-intro/index.html) show R version 3.5 but we want to encourage people to have version 4 installed.

[2022-08-14 11:19] mantoniou commented on #719
I believe it would also be important to mention that tidyverse packages are **fully compatible with each other**, helping the user to easily combine commands from the different packages (e.g. dplyr, tidyr, ggplot) into a single statement by using the pipe command **%>%**

[2022-08-15 08:30] matthieu-bruneaux commented on #792
Thank you @ndporter, this is a good idea! It is good to keep the lesson material up-to-date and to encourage people to use a recent version of R. Would you like to submit a PR with an updated screenshot?

[2022-08-15 18:26] ndporter commented on #792
PR is #794

[2022-08-15 22:02] matthieu-bruneaux commented on #790
This was addressed with PR #791. Thank you @mjcasy for your contribution!

[2022-08-15 22:02] #790 closed

[2022-08-16 03:41] edgardogv opened #795 "Change of links to download RStudio Desktop IDE"
I would like to provide a suggestion that applies to these pages:

1. [https://swcarpentry.github.io/r-novice-gapminder/setup.html ](https://swcarpentry.github.io/r-novice-gapminder/setup.html)

2. https://swcarpentry.github.io/r-novice-gapminder/01-rstudio-intro/index.html

The link for RStudio goes to the home page, which could be kind of a labyrinth for some people to locate the actual download

[2022-08-17 14:13] chfal opened #796 "Creating Publication-Quality Graphics with ggplot2 - suggestion from lesson checkout"
Hi there! This is my small lesson suggestion for my Carpentries Checkout. This is from the section "Creating Publication-Quality Graphics with ggplot2" (link)[https://swcarpentry.github.io/r-novice-gapminder/08-plot-ggplot2/index.html]. My suggestion is for the first example, which is a plain geom point, to change and add color and axes labels and titles. This might be useful because then students

[2022-08-19 18:05] cfmw opened #797 "Add to instructor notes: consider plotting lesson in context of workshop setting"
Hi - I think it's worth adding a comment in the instructor notes (_extras/guide.md) for instructors to consider the context in which they will be teaching a workshop and whether the data/plots/examples could be alienating to any of the learners that might be present. For example, Challenge 5 in "Creating Publication-Quality Graphics with ggplot2" may not be a sensitive example when teaching a work

[2022-09-03 19:57] matthieu-bruneaux commented on #792
Thanks a lot for your contribution @ndporter! This was very helpful to keep the lesson up-to-date.

(Fixed with PR #794.)

[2022-09-03 19:57] #792 closed

[2022-09-06 12:19] mjcasy opened #799 "11-writing-data: bash inclusion"
Re: https://github.com/swcarpentry/r-novice-gapminder/blob/main/_episodes_rmd/11-writing-data.Rmd

Possible issue on line 106, "Let's switch back to the shell to take a look at the data to make sure it looks". I don't see where the shell has been used in this lesson to be switched back to; moreover, we should probably stick only to R in this lesson?

[2022-09-06 22:02] matthieu-bruneaux commented on #797
Thank you very much for bringing this forward @cfmw! I think this is a very valid and important point.

We definitely want the lesson material and the workshops based on it to be as inclusive and welcoming as possible, and I agree that it is important to be aware of potentially triggering data/examples.

Would you like to submit a PR with some updated instructor notes about this?

[2022-09-07 10:57] mjcasy commented on #799
I like the suggestions!

- I agree that all wording about "the shell lesson" should be removed, I hadn't thought to search for other instances! Thinking back to when I took this course as a student a few years ago, it was done in conjunction with shell lessons, so maybe that was the suggested norm?

- I think adding in the shell instances as tips may create a feeling for the student that there is

[2022-09-12 16:07] victorfeagins opened #801 "When discussing Vectorization or For Loops introduce apply functions"
In the [R for Reproducible Scientific Analysis](https://swcarpentry.github.io/r-novice-gapminder/) when discussing for loops or vectorization it might be important to let people know about the apply family of functions. For loops are generally slow in R and it might be handy to at least acknowledge the apply family of functions.

[2022-09-28 08:21] LucaDiStasio commented on #799
I'm teaching right now a workshop only on R, and I noticed how confusing for participants all the references to shell are! My suggestions are:

1. remove all the references to shell and change the corresponding code to R code,
OR
2. introduce the terminal in RStudio and explain a couple of useful shell commands that can be executed.

[2022-10-04 11:12] bschiffthaler commented on #801
Apply functions do not vectorize. They are for-loops, sometimes called from `C` (`lapply()` and `sapply()`), in the case of `apply`, it's straight within R. From the source code of `apply()`:

[code]

The crucial bit is that they all are evaluating R code in the loop body, which is not really what is commonly meant by vectorization within R. Patrick Burns discusses this in his [R Inferno](https://

[2022-10-14 18:31] naupaka commented on #776
The second change is now merged via #779

[2022-11-04 11:30] matthieu-bruneaux commented on #799
Thanks for your feedback and suggestions @mjcasy and @LucaDiStasio! It is always very helpful to hear feedback from recent workshops so that we can keep improving the material and the learning experience.

It looks like we agree that a good way forward is to remove all references to the shell from the lesson itself; and also that the shell could be mentioned in the instructors notes instead and th

[2022-11-04 11:51] matthieu-bruneaux commented on #719
Thank you for your suggestions @crschul and @mantoniou!

Would anyone like to submit one or two PRs to:

- Add a link to the RStudio page of cheatsheets (for example in the ggplot lesson).
- Update the "Tip: Tidyverse" box in `_episodes_rmd/13-dplyr.Rmd` to mention that the tidyverse packages are designed to work gracefully together and with the pipe?

[2022-11-04 12:00] matthieu-bruneaux commented on #795
Thank you for your suggestion @edgardogv! Apologies for taking so long to reply to this issue, with the side effect that by now the RStudio re-branding to Posit has already taken place!

Would you like to submit a PR to address this?

[2022-11-06 03:22] naupaka commented on #799
I think the content reflects that in the original form of SWC workshops, there was a requirement to (at the least) cover bash, git, and a programming language (R or python), and in the even older days, SQL was also a requirement. If these were not met, then it could not be called a SWC workshop. I don't know what the current rules are for this, but I think it's tricky to decide what to do here. On

[2022-11-07 03:33] agudeloromero commented on #795
Hi @matthieu-bruneaux, I have updated those links as part of my Carpenters instructor certification.

[2022-11-07 03:59] naupaka commented on #795
Should be addressed by PRs #810 and #811

[2022-11-07 03:59] naupaka commented on #795
Waiting for those to pass automated checks

[2022-11-07 04:13] naupaka commented on #795
Closed by #810 and #811

[2022-11-07 04:13] #795 closed

[2022-11-21 15:55] Rasundsbak commented on #717
suggested partly solution:

cats2 <- data.frame(coat = c("calico","black","tabby","tabby"),
                    weight = c(2.1, 5.0, 3.2, 2.3),
                    likes_string = c(1, 0, 1, 3))

write.csv(x=cats2, file = "data/feline-data_v2.csv", row.names = FALSE)